<div class="header">
	<div class="header-left">
		<div class="header-left__logo">
			<p>JF</p>
			<h1>JobFinder</h1>
		</div>
		<div class="header-left__menu">
			<ul>
				<li>
					<a href="#" routerLink="./home" routerLinkActive="active"
						>Home</a
					>
				</li>
				<li><a href="#" routerLink="./my-jobs" routerLinkActive="active">My Jobs</a></li>
				<li><a href="#">Messages</a></li>
				<li>
					<a href="#" routerLink="./faq" routerLinkActive="active"
						>FAQ</a
					>
				</li>
			</ul>
		</div>
	</div>
	<div class="header-right">
		<ul>
			<li>
				<a href="#"
					><app-svg-icon [svgIconId]="'bell'"></app-svg-icon
				></a>
			</li>
			<li>
				<a href="#"
					><app-svg-icon [svgIconId]="'user'"></app-svg-icon
				></a>
			</li>
			<li><a href="#" routerLink="post-job" class="btn-link">Post a job</a></li>
		</ul>
	</div>
</div>
