<div class="header">
    <div class="search-container">
        <input
                aria-label="Search"
                class="search-input"
                name="search"
                placeholder="Search"
                type="text">
        <button class="search-button">
            <app-svg-icon [svgIconId]="'search-button'"></app-svg-icon>
        </button>
    </div>
    <div class="notification">
        <app-svg-icon [svgIconId]="'notification'"></app-svg-icon>
    </div>
    <div class="profile">
        <img alt="image"
             class=" come_in"
             id="large_img"
             src="https://randomuser.me/api/portraits/men/43.jpg">
    </div>
    <div>
        <a href="" routerLink="login" title="Log out">
            <app-svg-icon [svgIconId]="'sign-out'"></app-svg-icon>
        </a>
    </div>
</div>
