@import "src/styles/job-finder";

.profile-wrapper {
	margin: 0 10em;
	display: grid;
	grid-template-columns: 0.25fr 1fr;
	gap: 1em;
}

.banner {
	padding: 2em;
	border: 1px solid $border-clr;
	border-radius: 10px;
	text-align: center;

	.profile-pic img {
		height: 150px;
		width: 150px;
	}

	.details {
		display: flex;
		flex-direction: column;
		margin-top: 2em;

		p {
			display: flex;
			align-items: center;
			gap: 0.5em;
			font-size: 13px;
			padding-top: 1em;

			img {
				width: 18px;
				height: 18px;
			}
		}
	}

	.profile-details .title {
		text-align: center;
		text-transform: capitalize;
		padding-top: 1em;

		p {
			font-size: 14px;
			padding-top: 0.75em;
		}
	}
}

h3 {
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-bottom: 1px solid $border-clr;
}

.main-content {
	display: grid;
	grid-template-rows: auto auto;
	gap: 2em;

	& > div {
		border: 1px solid $border-clr;
		border-radius: 10px;
		padding: 1em;
	}
}
.content-section {
	margin-bottom: 1em;
}
.content-label {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: $secondary-text;
	margin-bottom: 0.25em;
}

.content-section-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2em;
}
