@import "src/styles/job-finder";

.container {
	padding: 3em;
	background-color: $bg-clr;
}

ul {
	margin-top: 2em;
	display: flex;

	a {
		display: flex;
		align-items: center;
		padding: 1em 2em;
		width: 100%;

		img {
			height: 24px;
			width: 24px;
		}

		&.active {
			font-weight: bold;
			color: #4848ff;
			border-bottom: 2px solid #4848ff;
		}
	}
}

.tab-content > div {
	display: none;
}

.tab-content > div.show {
	display: block;
	padding: 2em 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em;
}
