<div class="content-wrapper">
	<h2>Frequently Asked Questions</h2>
	<div class="accordion-panel">
		<button class="accordion-button" (click)="toggleAccordion($event)">
			<span class="accordion-heading"
				>Q. How can I post a job listing on the platform?</span
			>
			<app-svg-icon
				svgIconId="down-arrow"
				class="arrow-down"
			></app-svg-icon>
			<app-svg-icon svgIconId="up-arrow" class="arrow-up"></app-svg-icon>
		</button>
		<div class="accordion-body">
			<p>
				A. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Necessitatibus, quas.
			</p>
		</div>
	</div>

	<div class="accordion-panel">
		<button class="accordion-button" (click)="toggleAccordion($event)">
			<span class="accordion-heading"
				>Q. Is there a cost associated with posting job listings?</span
			>
			<app-svg-icon
				svgIconId="down-arrow"
				class="arrow-down"
			></app-svg-icon>
			<app-svg-icon svgIconId="up-arrow" class="arrow-up"></app-svg-icon>
		</button>
		<div class="accordion-body">
			<p>
				A. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Necessitatibus, quas.
			</p>
		</div>
	</div>

	<div class="accordion-panel">
		<button class="accordion-button" (click)="toggleAccordion($event)">
			<span class="accordion-heading"
				>Q. Can I save job listings to view or apply to later?</span
			>
			<app-svg-icon
				svgIconId="down-arrow"
				class="arrow-down"
			></app-svg-icon>
			<app-svg-icon svgIconId="up-arrow" class="arrow-up"></app-svg-icon>
		</button>
		<div class="accordion-body">
			<p>
				A. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Necessitatibus, quas.
			</p>
		</div>
	</div>
	<div class="accordion-panel">
		<button class="accordion-button" (click)="toggleAccordion($event)">
			<span class="accordion-heading"
				>Q. Can I search for jobs without creating an account?</span
			>
			<app-svg-icon
				svgIconId="down-arrow"
				class="arrow-down"
			></app-svg-icon>
			<app-svg-icon svgIconId="up-arrow" class="arrow-up"></app-svg-icon>
		</button>
		<div class="accordion-body">
			<p>
				A. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Tempore expedita assumenda explicabo aspernatur! Ut nam minus
				aliquid optio laboriosam eius, dignissimos recusandae quibusdam
				placeat, autem, quos laudantium eaque at delectus?
			</p>
		</div>
	</div>
	<div class="accordion-panel">
		<button class="accordion-button" (click)="toggleAccordion($event)">
			<span class="accordion-heading"
				>Q. Can I edit or update my job listing after it's been
				posted?</span
			>
			<app-svg-icon
				svgIconId="down-arrow"
				class="arrow-down"
			></app-svg-icon>
			<app-svg-icon svgIconId="up-arrow" class="arrow-up"></app-svg-icon>
		</button>
		<div class="accordion-body">
			<p>
				A. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Omnis ducimus hic repellat molestiae deleniti voluptatum
				voluptas optio quae quasi iusto.
			</p>
		</div>
	</div>
</div>
