<div class="header">
    <h2>Dashboard</h2>
    <div>
        <ul>
            <li>
                <a href="#">
                    <app-svg-icon class="icon" [svgIconId]="'message'"></app-svg-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="notification"></span>
                    <app-svg-icon class="icon" [svgIconId]="'notification'"></app-svg-icon>
                </a>
            </li>
            <li><img
                    alt="Larry Lin"
                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE3Nzg0fQ">
                    <span>John Doe</span> <a href="#">
                    <app-svg-icon class="icon" [svgIconId]="'dropdown'"></app-svg-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
