.header {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  margin-bottom   : 28px;

  ul {
    display     : flex;
    align-items : center;

    li {
      padding : 0 1rem;

      &:not(:last-child) {
        border-right : 1.5px solid lightgrey;
      }

      &:last-child {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
      }

      a {
        position : relative;
      }
    }
  }

  img {
    display       : inline-block;
    width         : 36px;
    height        : 36px;
    border-radius : 50%;

    & + span {
      padding-left : 0.5rem;
    }
  }

  .notification {
    position      : absolute;
    top           : -5px;
    right         : 0;
    border-radius : 50%;
    background    : red;
    padding       : 5px;
  }
}
