<div class="page-container">
	<div class="container">
		<h1 class="page-heading">Cart</h1>
		<!-- <div class="breadcrumb">
			<ul>
				<li>
					<a routerLink="home" href="#">Home</a>
				</li>
				<li>Cart</li>
			</ul>
		</div> -->

		<div *ngIf="hasProducts()" class="cart-container">
			<table>
				<thead>
					<tr>
						<th>Item</th>
						<th>Price/Unit</th>
						<th>Quantity</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products">
						<td>
							<span class="image-wrapper">
								<img [src]="product.imageUrl" alt="" />
							</span>
							{{ product.name }}
						</td>
						<td>{{ product.cost }} / {{ product.unit }}</td>
						<td>{{ product.noOfItems }} {{ product.unit }}</td>
						<td>
							<a (click)="removeItem($event, product)" href="#">
								<app-svg-icon
									[svgIconId]="'trash'"
								></app-svg-icon>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div *ngIf="!hasProducts()" class="cart-empty">
			<p>Your cart is empty</p>
			<button class="btn btn-primary" routerLink="home">
				Continue shopping
			</button>
		</div>
	</div>
</div>
