@import "src/styles/job-finder";

.filters {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 1em 2em;
	
	.search-wrapper {
		margin-right: 1em;
		position: relative;
	}

	.search {
		width: 100%;
		height: 40px;
		border: none;
		font-family: Inter, sans-serif;
		padding-left: 1.75em;
	}

	.search-icon {
		position: absolute;
		top: 10px;
	}
}

.dd-wrapper {
	border-left: 1px solid #e5e5e5;
}

.btn {
	background: transparent;
	position: relative;
	padding: 6px 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
	letter-spacing: 0.7px;
	font-family: sans-serif;
	max-width: 150px;
	text-transform: none;
}

button svg {
	height: 24px;
	width: 24px;
}

.menu-option {
	padding-right: 24px;
	color: $secondary-text;
	font-family: "Inter", sans-serif;
	width: 100%;
	text-align: left;
}

.menu {
	position: absolute;
	top: 30px;
	left: 0;
	width: 150px;
	list-style: none;
	margin: 12px 0;
	padding: 0;
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	border-radius: 5px;
}

.menu a {
	text-decoration: none;
	padding: 12px;
	display: block;
	text-align: left;
	color: $secondary-text;
	font-family: sans-serif;
	letter-spacing: 0.7px;

	&.disabled {
		color: rgb(214, 214, 214);
	}
}

.menu a:hover {
	background: rgb(225, 240, 252);
}

.btn-menu {
	border: none;
	width: 100%;
	max-width: 500px;
}

.btn-menu .menu {
	display: none;
}

.btn-menu.open .menu {
	display: block;
}

.content-wrapper {
	background: #e8f2fb;
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	padding: 3em;
	gap: 1.5em;
}
