<div class="page-container">
	<div class="container">
		<!-- <h1 class="page-heading">Checkout</h1> -->

		<app-alerts [alertDetails]="alert"></app-alerts>

		<section class="side-layout-wrapper">
			<div>
				<app-cart *ngIf="pageName == 'cart'"></app-cart>
				<app-address
					[form]="shippingForm"
					[states]="states"
					*ngIf="pageName == 'shipping'"
				></app-address>
				<app-payment *ngIf="pageName == 'payment'"></app-payment>
			</div>
			<app-order-summary
				[products]="products"
				[pageName]="'cart'"
			></app-order-summary>
		</section>
	</div>
</div>
