<div>
	<div class="side-info suggest-box">
		<h3>Suggested job</h3>
		<img src="../../../../../assets/img/info.png" alt="">
	</div>
	<div class="suggest-box suggest" *ngFor="let job of suggestedJobs; let i = index;">
		<div class="suggest__header-wrapper">
			<div class="suggest__header">
				<span class="img-wrapper"><img [src]="job.logo" alt=""></span>
				<h3>{{job.name}}</h3>
			</div>
			<div>
				<a href="#" (click)="showMenu($event, 'menu-'+i)" (blur)="hideMenu($event, 'menu-'+i)">
					<img src="../../../../../assets/img/menu_vertical.png" alt="">
					<ul [id]="'menu-'+i" class="content-menu hide">
						<li><a href="#">Show details</a></li>
						<li><a href="#">Apply now</a></li>
						<li><a href="#">Save job</a></li>
					</ul>
				</a>
			</div>
		</div>
		<div class="suggest__title">
			<p>{{ job.title }}</p>
		</div>
		<div class="suggest__content">
			<p>{{ job.content }}</p>
		</div>
		<div class="suggest__footer">
			<p>{{ job.footer }}</p>
		</div>
	</div>
</div>
