<div>
	<div class="side-info suggest-box">
		<h3>Suggested job</h3>
		<img src="../../../../../assets/img/info.png" alt="">
	</div>
	<div class="suggest-box suggest">
		<div class="suggest__header">
			<span class="img-wrapper"><img src="../../../../../assets/img/gitlab.png" alt=""></span>
			<h3>GitLab</h3>
		</div>
		<div class="suggest__title">
			Senior UX Designer
		</div>
		<div class="suggest__content">
			<p>Product Technologies</p>
		</div>
		<div class="suggest__footer">
			1 day ago . 13 Applied
		</div>
	</div>
	<div class="suggest-box suggest">
		<div class="suggest__header">
			<span class="img-wrapper"><img src="../../../../../assets/img/sketch.png" alt=""></span>
			<h3>Sketch</h3>
		</div>
		<div class="suggest__title">
			Senior UX Designer
		</div>
		<div class="suggest__content">
			<p>Product Technologies</p>
		</div>
		<div class="suggest__footer">
			2 day ago . 3 Applied
		</div>
	</div>
	<div class="suggest-box suggest">
		<div class="suggest__header">
			<span class="img-wrapper"><img src="../../../../../assets/img/figma.png" alt=""></span>
			<h3>Figma</h3>
		</div>
		<div class="suggest__title">
			Senior UX Designer
		</div>
		<div class="suggest__content">
			<p>Product Technologies</p>
		</div>
		<div class="suggest__footer">
			2 day ago . 23 Applied
		</div>
	</div>
</div>
