$primary-color      : #348AA7;
$border-color       : #E0E0E0;
$input-border-color : #D3D3D3;
$link-active        : #D6EEF7;
$font-color         : #616161;
$background-clr     : linear-gradient(45deg, #348AA7, #62B4D0);
$font-family        : "Roboto", sans-serif;
$error-clr          : #DB3939;

/*Banking template color variables*/
.bt {

  /*Common*/
  &.banking {
	display    : flex;
	background : #EBEBEB;
  }

  .banking-content-container {
	flex-grow : 1;
  }

  &_container {
	margin-bottom : 32px;
  }

  &_panel {
	background    : white;
	padding       : 24px;
	margin-bottom : 24px;
	border-radius : 10px;
	box-shadow    : 5px 5px 15px rgb(0 0 0 / 25%);
  }

  &_section_header {
	padding-bottom : 18px;
	border-bottom  : 1px solid $border-color;
  }

  &_section_header,
  &_section_info {
	margin-bottom : 24px;
  }

  .sub-section {
	padding : 24px;
  }

  .custom-select {
	label {
	  margin-right : 12px;
	}

	select {
	  font-size     : 1.1em;
	  border        : 1px solid #D9D3D6;
	  border-radius : 5px;
	}
  }

  table {
	border-collapse : collapse;
	table-layout    : fixed;
	text-align      : left;
	min-width       : 100%;

	th, td {
	  padding       : 1em;
	  border-bottom : 1px solid $border-color;
	}
  }

  /********* BANKING CONTENT START********/
  .banking-content {
	height  : 100%;
	padding : 24px 48px;
  }

  .banking-content .header {
	@include flex(flex-end, center);
	padding       : 12px;
	margin-bottom : 32px;

	div:not(:last-of-type) {
	  margin-right : 24px;
	}

	a {
	  display         : inline-block;
	  text-decoration : none;
	  color           : $primary-color;

	  &:hover {
		color : #62B4D0;
	  }
	}
  }

  .banking-content .search-container {
	@include flex(flex-end);
	box-shadow    : 6px 7px 15px 0 rgba(0, 0, 0, 0.14);
	border-radius : 20px;
  }

  .banking-content .search-input {
	height         : 40px;
	border-radius  : 20px 0 0 20px;
	border         : none;
	padding        : 0 0 0 18px;
	letter-spacing : 0.7px;
	outline        : none;
	font-family    : $font-family;
  }

  .banking-content .search-input::placeholder {
	opacity : 0.5;
	z-index : -1;
  }

  .banking-content .search-button {
	background    : white;
	border        : none;
	padding       : 10px;
	border-radius : 0 20px 20px 0;
	cursor        : pointer;
	transition    : transform 0.1s ease;
	outline       : none;
  }

  .banking-content .search-button:active {
	transform : scale(0.95);
  }

  .banking-content .search-button svg {
	width  : 18px;
	height : 18px;
  }

  .banking-content .notification {
	@include flex(center);
	height        : 40px;
	width         : 40px;
	border-radius : 50%;
	background    : white;
	box-shadow    : 6px 7px 15px 0 rgba(0, 0, 0, 0.14);
  }

  .banking-content .profile img {
	display       : inline-block;
	width         : 36px;
	height        : 36px;
	border-radius : 50%;
  }

  /********* BANKING CONTENT END ********/

  /********* BANKING DASHBOARD START *******/
  .dashboard-container {
	h1 {
	  font-size : 2.5em;
	}
  }

  p {
	padding : 12px 0;
  }

  .summary {
	@include flex($alignItem : center);
	border-radius : 10px;
	margin-bottom : 24px;

	div {
	  flex : 1;
	}

	.summary-content {
	  @include flex($alignItem : center);

	  h2 {
		color : $primary-color;
	  }
	}
  }

  /********* BANKING DASHBOARD END *******/

  /********* SWITCH **********/
  &_radio {
	display       : inline-flex;
	background    : white;
	width         : auto;
	overflow      : hidden;
	border-radius : 20px;
	margin-bottom : 24px;
	box-shadow    : 5px 5px 15px rgb(0 0 0 / 15%);

	input {
	  display : none;
	}

	label {
	  padding   : 1em 4.5em;
	  font-size : 18px;
	  cursor    : pointer;

	  &:not(:last-of-type) {
		border-right : 1px solid $border-color;
	  }
	}

	input:checked + label {
	  background : $background-clr;
	  color      : white;
	}
  }

  /*****NAVIGATION BAR START*****/

  .side-nav {
	height     : 100vh;
	background : white;
  }

  .side-nav-mobile, .icon-close {
	display : none;
  }

  .logo {
	@include flex(center);
	padding : 24px;

	a {
	  text-decoration : none;
	  color           : $font-color;
	}

	&__bg {
	  height        : 50px;
	  width         : 50px;
	  border-radius : 50%;
	  background    : linear-gradient(45deg, #348AA7, #62B4D0);
	  margin-right  : 12px;
	  position      : relative;
	  display       : inline-block;
	  text-align    : center;
	  padding       : 15px 0;
	  color         : #FFF;
	}
  }

  .menu-bar {
	ul {
	  padding : 0;
	  margin  : 0;
	}

	a {
	  display         : inline-flex;
	  align-items     : center;
	  text-decoration : none;
	  padding         : 24px 48px;
	  color           : #343434;
	  width           : 100%;

	  &.active {
		color        : $primary-color;
		background   : $link-active;
		border-right : 3px solid;
		font-weight  : 500;
	  }
	}
  }

  /*****NAVIGATION BAR END*****/

  /*****LOGIN START*****/
  .login-container {
	@include flex();

	.login-image-container {
	  @include flex(center, center);
	  background      : linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 75%)), url(https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fG9mZmljZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	  background-size : cover;
	  height          : 100vh;
	  flex            : 1;
	}

	.copy {
	  text-align : center;
	}

	.banner {
	  color : white;
	}

	h1 {
	  font-size : 2.5em;
	  margin    : 0;
	  padding   : 0;
	}

	.cta {
	  font-size  : 1.2em;
	  margin-top : 12px;
	}

	.login-cta {
	  margin-bottom : 3em;
	}

	.login-form-container {
	  @include flex(center, center);
	  flex-direction : column;
	  flex           : 1;
	}

	.form-container {
	  margin : 3em 0;
	}

	.form-group-vertical {
	  @include flex(center, initial, column);
	  margin-bottom : 3em;
	}

	label {
	  margin-bottom : 6px;
	}

	.btn-login {
	  width  : 100%;
	  margin : 0;
	}

  }

  /*****LOGIN END*****/

  /*****TRANSACTION START******/
  .bt-mobile {
	display : none;
  }

  .transaction-history {
	h3 {
	  padding       : 24px;
	  border-bottom : 3px solid $border-color;
	}

	table {
	  th {
		span {
		  display : flex;
		}
	  }

	  td {
		& span.credit {
		  color : green;
		}

		& span.debit {
		  color : red;
		}

		&.amount {
		  font-weight : 500;
		}

		& span.transaction-type {
		  @include flex($alignItem : center);
		}

		button {
		  border         : none;
		  border-radius  : 3px;
		  outline        : none;
		  width          : auto;
		  padding        : 12px;
		  background     : $primary-color;
		  cursor         : pointer;
		  text-transform : uppercase;
		  transition     : transform 0.2s ease;
		  font-weight    : 500;
		  display        : flex;
		  margin         : 0;
		}

	  }
	}
  }

  table.transaction-details-table {

	width           : 100%;
	border-collapse : collapse;
	table-layout    : fixed;
	margin          : 0 auto;


	tr {
	  border-bottom : 1px solid lightgray;
	}

	tr:nth-child(2n+1) {
	  background : #FCFCFC;
	}

	tr > td:first-child {
	  padding : 12px 24px;
	}
  }

  /*****TRANSACTION END******/

  &_section_info {
	h3 {
	  padding       : 12px;
	  background    : $background-clr;
	  color         : white;
	  border-radius : 5px;
	  margin-bottom : 24px;
	  font-weight   : 100;
	}

	h4 {
	  margin-left : 16px;
	}
  }

  .details, .form-group {
	display               : grid;
	grid-template-columns : 30% 70%;
	padding               : 12px 24px;
	align-items           : center;
  }

  .grid-vr {
	display               : grid;
	grid-template-columns : 1fr;
	grid-gap              : 0.5em;
	padding               : 12px;
	align-items           : center;
  }

  .info {
	grid-column : 2/3;
	background  : #E7EBEF;
	margin      : 12px 0;
	padding     : 6px 0;
  }

  select {
	padding        : 0.5em 4em 0.5em 0.5em;
	border-color   : $input-border-color;
	border-radius  : 5px;
	font-size      : 14px;
	color          : #616161;
	letter-spacing : 0.75px;
  }

  input {
	border        : 1px solid $input-border-color;
	padding       : 6px 12px;
	border-radius : 5px;
	height        : 40px;
	font-family   : Roboto, sans-serif;
	font-size     : 16px;

	&::placeholder {
	  opacity : 0.5;
	}
  }

  .btn-container {
	@include flex(space-between);
	margin : 48px 0;
  }

  .button {
	border         : none;
	border-radius  : 3px;
	outline        : none;
	width          : auto;
	padding        : 12px 48px;
	cursor         : pointer;
	text-transform : uppercase;
	transition     : transform 0.2s ease;
	font-family    : Roboto, sans-serif;
	font-size      : 16px;
	margin         : 12px;

	&:hover {
	  box-shadow : 5px 5px 15px 0 rgb(0 0 0 / 15%);
	}

	&:active {
	  transform : scale(0.95);
	}
  }

  .btn-primary {
	background : $background-clr;
	color      : #FFF;
  }

  .btn-secondary {
	background : $input-border-color;
	color      : #616161;
  }

  .flex-right {
	justify-content : flex-end;
  }

  .bt_page_header {
	margin-bottom : 24px;
  }

  /********* CARD START ***********/

  .card-wrapper {
	display               : grid;
	grid-template-columns : repeat(3, 1fr);
	grid-gap              : 1.5em;
  }

  .card {
	background    : $background-clr;
	color         : white;
	padding       : 1em;
	border-radius : 5px;
	box-shadow    : 5px 5px 15px 0 rgb(0 0 0 / 15%);
  }

  .card-content {
	.card-header {
	  padding-bottom : 0.5em;
	  border-bottom  : 2px solid white;
	  text-align     : left;
	}

	ul {
	  list-style    : disc;
	  padding-left  : 2em;
	  margin-bottom : 0.5em;
	  min-height    : 150px;
	}

	li {
	  padding : 0.7em 0;
	}

	a {
	  display         : grid;
	  justify-content : end;
	  color           : white;
	  text-decoration : none;
	  padding         : 0.2em;
	  transition      : text-decoration 0.3s ease-in;
	}

	a:hover {
	  text-decoration : underline;
	}
  }

  /********* CARD END ***********/

  .bt_details_container {
	display               : grid;
	grid-template-columns : 30% 70%;
	grid-gap              : 2em;

	img {
	  @include flex(center);
	  width         : 65%;
	  border-radius : 50%;
	  align-self    : center;
	  margin        : 24px auto;
	}

	.left-panel {
	  grid-row : 1/2;
	}
  }

  .bt_details-content {
	background-color : white;
	padding          : 1em;
	border-radius    : 10px;
  }

  &_inline_error {
	color   : $error-clr;
	padding : 12px 0;
  }

  .error-input {
	border : 2px solid $error-clr;
  }

  form {
	.inline-error {
	  grid-column : 2/3;
	}
  }

  &_banner {
	padding       : 12px;
	margin-bottom : 24px;
	color         : #FFF;
	border-radius : 5px;

	a {
	  color : white;
	}
  }

  &_error_banner {
	background : $error-clr;
  }

  &_success_banner {
	background : #5ECE5E;
  }

  .alert {
	@include flex($alignItem : center);
  }

  .alert_heading {
	@include flex(center);
	margin-bottom : 24px;

	svg {
	  fill : white;
	}
  }

  .alert_body {
	@include flex($alignItem : center, $direction : center);

	span {
	  margin-bottom : 12px;
	}
  }

  &_optional {
	opacity     : 0.5;
	font-weight : 400;
	font-style  : italic;
  }

  &_side_panel {
	.details {
	  padding               : 12px;
	  grid-template-columns : 70% 30%;
	}

	&:not(:last-child) {
	  margin-bottom : 32px;
	}
  }

  /******* OVERRIDES START ********/
  .radio-label .checker {
	border : 1.5px solid $input-border-color;
  }

  .radio-label input:checked ~ .checker-inside {
	background-color : $primary-color;
  }

  input.switch-input:checked + .slider {
	background : $primary-color;
  }

  /******* OVERRIDES END ********/
}
