@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$font-family: "Inter", sans-serif;
$text-color: #3f3f3f;
$secondary-text: #5e666e;
$primary-color: #4848ff;

ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,a,p {
    font-family: $font-family;
    color: $text-color;
    letter-spacing: 0.15px;
}

a {
    text-decoration: none;
}