.switch {
  position : relative;
  display  : block;
  width    : 45px;
  height   : 20px;
  cursor   : pointer;
}

input.switch-input {
  opacity        : 0;
  pointer-events : none;
}

.slider {
  position      : absolute;
  top           : 0;
  left          : 0;
  right         : 0;
  bottom        : 0;
  background    : #A7A7A7;
  border-radius : 20px;
  transition    : all .5s ease;
}

input.switch-input:checked + .slider {
  background : #7B85C1;
}

input.switch-input:checked + .slider::before {
  left : 25px;
}

.slider::before {
  content       : "";
  width         : 17px;
  height        : 17px;
  border-radius : 50%;
  background    : white;
  position      : absolute;
  top           : 1px;
  left          : 3px;
  box-shadow    : inset 0 0 5px rgb(0 0 0 / 60%);
  transition    : .2s ease-out;
}
