@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.email-template {
  font-family : 'Poppins', sans-serif;
  font-size   : 14px;

  .header {
    width   : 100%;
    display : flex;

    .button {
      background  : linear-gradient(45deg, #657AFF, #713C80);
      border      : none;
      height      : 40px;
      padding     : 24px 48px;
      color       : white;
      font-family : 'Poppins', sans-serif;
      line-height : 1px;
      cursor      : pointer;
    }

    .actions {
      width           : 30%;
      height          : 48px;
      padding         : 0 12px;
      display         : flex;
      justify-content : space-between;
      align-items     : center;
      background      : #E7E7EF;

      .search {
        input {
          border        : none;
          height        : 24px;
          border-radius : 3px;
          font-family   : 'Poppins', sans-serif;
          font-size     : 14px;
          background    : transparent;
          color         : #6F6194;

          &::placeholder {
            opacity   : 0.75;
            font-size : 14px;
            color     : #191919;
          }

          &:focus {
            outline : none;
          }
        }
      }

      .sort {
        display     : flex;
        align-items : center;
        width       : 50%;

        label {
          color        : #191919;
          margin-right : 12px;
          opacity      : 0.5;
          font-size    : 14px;
        }

        .menu-container .btn.btn-menu {
          border          : none;
          padding         : 0;
          line-height     : 1px;
          color           : white;
          font-family     : 'Poppins', sans-serif;
          justify-content : space-between;
          width           : 200px;
        }

        .menu a {
          text-transform : uppercase;
          font-family: "Poppins", sans-serif;
        }

        .menu-option {
          padding      : 0;
          margin-right : 16px;
          font-size    : 15px;
          color        : #6F6194;
        }
      }
    }
  }

  .btn {
    text-transform : capitalize;
    letter-spacing : 0;
  }

  .title-container {
    height          : 48px;
    padding         : 0 12px;
    display         : flex;
    justify-content : flex-end;
    align-items     : center;
    flex            : 1;
    background      : #E7E7EF;
    color           : white;

    img {
      height        : 40px;
      width         : 40px;
      border-radius : 50%;
    }

    .title {
      margin-right : 12px;
      color        : #6F6194;
    }

    .menu {
      right : 0;
      left  : unset;
    }

    .btn-menu {
      border : none;
    }
  }

  .mail-content {
    display: flex;
  }

  .side-bar {
    background: #E7E7EF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 190px;

    ul {
      padding : 0;
      margin  : 0;

      a {
        padding: 12px 12px 12px 18px;
        width: 100%;
        text-decoration : none;
        display         : inline-block;
        color           : #6F6194;

        &.active {
          font-weight: 700;
          font-size: 16px;
          color: #657AFF;
        }

      }
    }

    .labels {
      label {
        opacity: 0.5;
        margin-bottom: 12px;
        display: inline-block;
        margin-left: 18px;
      }
    }
  }

  .mails {
    width: 30%;
  }

  .mail-body {
    flex: 1;
  }
}
