<section class="dashboard-container">
    <h1>Welcome, John Doe</h1>
    <p>Check all your activities with the quick online banking. Create your new way of
        management.</p>
</section>

<section class="panel">
    <h2>Account Summary</h2>
    <div class="summary">
        <div>
            <p>Account Number</p>
            <div class="summary-content">
                <app-svg-icon [svgIconId]="'subtitles'"></app-svg-icon>
                <h2>7877-8765676</h2>
            </div>
        </div>
        <div>
            <p>Current Balance</p>
            <div class="summary-content">
                <app-svg-icon [svgIconId]="'bank'"></app-svg-icon>
                <h2>AUD 54,3421.09</h2>
            </div>
        </div>
        <div>
            <p>Available Balance</p>
            <div class="summary-content">
                <app-svg-icon [svgIconId]="'bank'"></app-svg-icon>
                <h2>AUD 34,3671.64</h2>
            </div>
        </div>
        <div>
            <p>Account Type</p>
            <div class="summary-content">
                <app-svg-icon [svgIconId]="'umbrella'"></app-svg-icon>
                <h2>Savings</h2>
            </div>
        </div>
    </div>
</section>

<section class="panel">
    <h2>Transactions</h2>
    <p>Showing recent 5 transactions</p>
    <app-transactions [transactions]="transactions"></app-transactions>
</section>

<section class="panel">
    <h2>Loans</h2>
    <p>You haven't applied for any loans</p>
</section>
