<div class="page-container">
    <div class="container">
        <h1 class="page-heading">Orders</h1>
        <div *ngIf="isLoggedIn">
            <div *ngIf="orders; else noOrders" class="orders-wrapper">
                <div *ngFor="let order of orders; let i = index" class="orders">
                    <h2>Order #{{i + 1}}</h2>
                    <ul *ngFor="let product of order.products" class="product-summary">
                        <li>{{ product.name }}</li>
                        <li>{{ product.noOfItems + ' X ' + product.cost}}</li>
                        <li>{{ product.noOfItems * product.cost | currency: 'INR'}}</li>
                    </ul>
                </div>
            </div>
            <ng-template #noOrders>
                <h3>Shop with us and make your first order</h3>
                <div class="btn-container">
                    <button class="btn btn-primary" routerLink="../home">Shop now</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
