/** Typography **/
/** Primary colors **/
/** Neutral colors **/
.easy-bank-container {
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
}
.easy-bank-container svg {
  width: auto;
}
.easy-bank-container h1,
.easy-bank-container h2,
.easy-bank-container h3,
.easy-bank-container h4 {
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 0.5em;
}
.easy-bank-container h1 {
  font-size: 2.5rem;
}
.easy-bank-container h2 {
  font-size: 2.2rem;
}
.easy-bank-container h3 {
  font-size: 1.25rem;
}
.easy-bank-container p {
  font-size: 0.95rem;
  line-height: 1.5em;
  color: #9698a6;
  font-weight: 400;
}
.easy-bank-container .header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 1em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.easy-bank-container .header .btn {
  display: none;
}
.easy-bank-container .header__menu .menu-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 3px;
  margin: 1.5em;
  padding: 0.5em;
  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  transform: translateY(-150%);
  transition: 500ms;
}
.easy-bank-container .header__menu .menu-items li {
  padding: 0 1em;
}
.easy-bank-container .header__menu .menu-items a {
  display: inline-block;
  text-decoration: none;
  padding: 1.75em 0;
  margin: auto;
  width: 100%;
  color: #2d314d;
  border-bottom: 4px solid transparent;
}
.easy-bank-container .header__menu .menu-items a:hover {
  border-bottom: 4px solid #31d35c;
}
.easy-bank-container .icon-close {
  display: none;
}
.easy-bank-container .header__menu.open .menu-items {
  transform: translateY(0);
  box-shadow: 5px 5px 50px;
}
.easy-bank-container .header__menu.open .icon-hamburger {
  display: none;
}
.easy-bank-container .header__menu.open .icon-close {
  display: block;
}
.easy-bank-container .hero__image {
  background: url("./../../../../../assets/img/easy-bank/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 17.5em;
  position: relative;
}
.easy-bank-container .hero__image::before {
  content: "";
  background: url("./../../../../../assets/img/easy-bank/image-mockups.png");
  background-size: 93%;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}
.easy-bank-container .hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./../../../../../assets/img/easy-bank/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.easy-bank-container .hero__text {
  text-align: center;
  padding: 2em 1em;
}
.easy-bank-container .hero__text h1 {
  font-weight: 300;
  line-height: 1.15;
}
.easy-bank-container .hero__text p {
  line-height: 1.75;
}
.easy-bank-container .btn {
  display: inline-block;
  padding: 1em 2.5em;
  margin: 2em 0;
  border: none;
  border-radius: 50px;
  color: white;
  letter-spacing: 0.5px;
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  background: linear-gradient(45deg, #31d35c, #2bb7da);
  text-decoration: none;
}
.easy-bank-container section:nth-child(even) {
  background: #fafafa;
}
.easy-bank-container section:nth-child(odd) {
  background: #f3f4f6;
}
.easy-bank-container .features,
.easy-bank-container .articles {
  padding: 2em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.easy-bank-container .articles img {
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.easy-bank-container .features__card,
.easy-bank-container .card {
  margin-bottom: 2.5em;
}
.easy-bank-container .online-banking {
  background: url("./../../../../../assets/img/easy-bank/icon-online.svg");
}
.easy-bank-container .simple-budgeting {
  background: url("./../../../../../assets/img/easy-bank/icon-budgeting.svg");
}
.easy-bank-container .fast-onboarding {
  background: url("./../../../../../assets/img/easy-bank/icon-onboarding.svg");
}
.easy-bank-container .open-api {
  background: url("./../../../../../assets/img/easy-bank/icon-api.svg");
}
.easy-bank-container .features__image {
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-position: center;
  margin: auto auto 1em;
}
.easy-bank-container .card {
  background: white;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}
.easy-bank-container .card__details {
  padding: 1.5em;
}
.easy-bank-container .author {
  display: inline-block;
  font-size: 0.7em;
  color: #9698a6;
  margin-bottom: 0.5em;
}
.easy-bank-container .card__description {
  font-size: 0.75em;
  line-height: 1.4em;
}
.easy-bank-container .footer {
  background: #2d314d;
  color: white;
  padding: 2em;
  text-align: center;
}
.easy-bank-container .footer .social {
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
}
.easy-bank-container .footer .social a:not(:last-child) {
  margin-right: 0.75em;
}
.easy-bank-container .footer .social a:hover svg path {
  fill: #31d35c;
}
.easy-bank-container .footer__links {
  display: flex;
  flex-direction: column;
}
.easy-bank-container .footer__links a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
}
.easy-bank-container .footer__links a:hover {
  color: #31d35c;
}
@media (min-width: 768px) {
  .easy-bank-container h1 {
    font-size: 3rem;
  }
  .easy-bank-container .icon-hamburger {
    display: none;
  }
  .easy-bank-container .header {
    padding: 0 8em;
  }
  .easy-bank-container .header .btn {
    display: block;
  }
  .easy-bank-container .header .btn,
.easy-bank-container .footer .btn {
    margin: 0;
    font-size: 1rem;
  }
  .easy-bank-container .header__menu .menu-items {
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: unset;
  }
  .easy-bank-container .header__menu .menu-items a {
    color: #9698a6;
  }
  .easy-bank-container .hero-container {
    display: flex;
    align-items: center;
  }
  .easy-bank-container .hero__image {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: none;
  }
  .easy-bank-container .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("./../../../../../assets/img/easy-bank/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    width: 120%;
    background-size: 125%;
    background-position: 0% 70%;
  }
  .easy-bank-container .hero__image::after {
    width: 120%;
    height: 150%;
    background-size: 77%;
    background-position: 6% -193%;
    left: 22%;
  }
  .easy-bank-container .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
    padding-left: 8em;
  }
  .easy-bank-container section:not(.hero),
.easy-bank-container .features {
    padding: 4em 8em;
    text-align: left;
    align-items: flex-start;
  }
  .easy-bank-container .features-heading {
    width: 40%;
  }
  .easy-bank-container .features__desc {
    display: flex;
    text-align: left;
  }
  .easy-bank-container .features__card {
    margin-right: 1em;
  }
  .easy-bank-container .features__image {
    margin-left: 0;
    background-position: left;
  }
  .easy-bank-container .articles {
    display: grid;
    padding: 4em 8em;
  }
  .easy-bank-container .articles h2 {
    text-align: left;
  }
  .easy-bank-container .articles__cards {
    display: flex;
    margin-top: 1em;
  }
  .easy-bank-container .card:not(:last-of-type) {
    margin-right: 1em;
  }
  .easy-bank-container .footer {
    padding: 4em 8em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
  }
  .easy-bank-container .footer__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .easy-bank-container .footer .social {
    justify-content: flex-start;
    padding: 0;
  }
  .easy-bank-container .footer__links {
    align-items: flex-start;
  }
  .easy-bank-container .footer__cta {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1900px) {
  .easy-bank-container .hero-container {
    display: flex;
    align-items: center;
  }
  .easy-bank-container .hero__image {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: none;
  }
  .easy-bank-container .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("./../../../../../assets/img/easy-bank/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    width: 120%;
    background-size: 100%;
    background-position: 0% 70%;
    left: 5%;
  }
  .easy-bank-container .hero__image::after {
    width: 120%;
    height: 145%;
    background-size: 65%;
    background-position: 6% 278%;
    left: 33%;
  }
  .easy-bank-container .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
    padding-left: 8em;
  }
}

/*# sourceMappingURL=easy-bank.component.css.map */
