<div class="email-content">
    <div class="email-header">
        <div>
            <div class="sender-details">
                <span class="profile-pic">
                    <img alt="Larry Lin"
                         src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE3Nzg0fQ">
                </span>
                <div class="sender">
                    <span>Gal Shir</span> <span>13 Jan 2021, 9:02 AM</span>
                </div>
            </div>
        </div>
        <div>
            <a href="#">
                <app-svg-icon [svgIconId]="'reply'"></app-svg-icon>
            </a> <a href="#">
            <app-svg-icon [svgIconId]="'forward'"></app-svg-icon>
        </a> <a href="#">
            <app-svg-icon [svgIconId]="'trash'"></app-svg-icon>
        </a>
        </div>
    </div>

    <div class="email-body">
        <h2>SaaS Design Rework</h2>

        <p>Hello Sam,</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, blanditiis fuga?
            Adipisci alias aliquid assumenda corporis culpa debitis dolorem doloremque esse est eum
            fuga fugiat harum ipsum labore modi nisi pariatur quae qui, quos ratione sint ullam vero
            voluptatem. Alias assumenda corporis cumque explicabo facilis illo odio quam sequi
            vero.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cumque dolorem eum hic,
            in itaque, iusto labore quaerat quasi quia quis quod repellendus suscipit
            voluptatum.</p>


        <div>Regards</div>
        <div>Gal Shir</div>
    </div>
</div>
