h3 {
  margin-bottom: 18px;
}

section {
  padding: 2em;
  background: #FFFFFF;
  border-bottom: 1px solid #ececec;
}

.breadcrumbs {
  font-size: 13px;
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  margin: 0 0.35em;
}

button {
  padding: 12px;
  background: #2a3748;
  font-family: "Rubik", sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em;
  margin-top: 2em;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 12px;
  background: white;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat > span {
  margin-bottom: 12px;
}

.stat > span:first-child {
  font-size: 16px;
  opacity: 0.8;
}

.stat > span:last-child {
  font-weight: bold;
}

.tag {
  padding: 6px 12px;
  border-radius: 5px;
  background: #e2e2e2;
  margin-right: 0.5em;
}

.details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1em;
  grid-gap: 0.5em;
}

.details > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0.5em 1em 0;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.flag {
  max-width: 20px;
  width: 20px;
  height: 20px;
}

.proposal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.row {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.5fr;
  align-items: center;
  padding: 12px;
  border: 2px solid #2a3748;
  border-radius: 5px;
}

.column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  height: 100%;
}

p {
  line-height: 24px;
}

label {
  margin-bottom: 6px;
}

.back {
  margin-bottom: 1em;
}