<nav>
    <h4>Employees Dashboard</h4>
    <ul>
        <li class="active"><a href="#"><app-svg-icon [svgIconId]="'apps'" class="icon icon-nav"></app-svg-icon>Dashboard</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'users'" class="icon icon-nav"></app-svg-icon>Employees</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'document'" class="icon icon-nav"></app-svg-icon>Request <span class="badge">12</span></a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'search'" class="icon icon-nav"></app-svg-icon>Recruitment</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'user-add'" class="icon icon-nav"></app-svg-icon>Onboarding</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'user-delete'" class="icon icon-nav"></app-svg-icon>Offboarding</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'list-check'" class="icon icon-nav"></app-svg-icon>Evaluation</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'activity'" class="icon icon-nav"></app-svg-icon>Activity</a></li>
        <li><a href="#"><app-svg-icon [svgIconId]="'settings'" class="icon icon-nav"></app-svg-icon>Settings</a></li>
    </ul>
</nav>
