<div class="main-wrapper">
    <h3>Popular Companies</h3>
    <section class="section-wrapper">
        <div class="section-header">
            <span class="img-wrapper"><img src="../../../../../assets/img/microsoft.png" alt=""></span>
            <div class="header-wrapper">
                <p class="title">Microsoft</p>
                <p class="role">Data Engineer</p>
            </div>
        </div>
    </section>
    <section class="section-wrapper">
        <div class="section-header">
            <span class="img-wrapper"><img src="../../../../../assets/img/amazon.png" alt=""></span>
            <div class="header-wrapper">
                <p class="title">Amazon</p>
                <p class="role">Data Scientist</p>
            </div>
        </div>
    </section>
    <section class="section-wrapper">
        <div class="section-header">
            <span class="img-wrapper"><img src="../../../../../assets/img/sketch.png" alt=""></span>
            <div class="header-wrapper">
                <p class="title">Sketch</p>
                <p class="role">UX Designer</p>
            </div>
        </div>
    </section>
    <section class="section-wrapper">
        <div class="section-header">
            <span class="img-wrapper"><img src="../../../../../assets/img/ibm_icon.png" alt=""></span>
            <div class="header-wrapper">
                <p class="title">IBM</p>
                <p class="role">Senior Developer</p>
            </div>
        </div>
    </section>
    <section class="section-wrapper">
        <div class="section-header">
            <span class="img-wrapper"><img src="../../../../../assets/img/figma.png" alt=""></span>
            <div class="header-wrapper">
                <p class="title">Figma</p>
                <p class="role">Senior Developer</p>
            </div>
        </div>
    </section>
    <section class="section-wrapper">
        <div class="section-header">
            <span class="img-wrapper"><img src="../../../../../assets/img/gitlab.png" alt=""></span>
            <div class="header-wrapper">
                <p class="title">GitLab</p>
                <p class="role">Senior Developer</p>
            </div>
        </div>
    </section>
</div>
