<h2 class="bt_section_header">Pay Anyone</h2>

<!--Alert Banner-->
<app-alerts [alertDetails]="alert"></app-alerts>

<div *ngIf="paymentSuccessMessage" class="bt_banner bt_success_banner">
    <div class="alert_heading">
        <app-svg-icon [svgIconId]="'check-circle'"></app-svg-icon>
        <h3>Payment Successful</h3>
    </div>
    <div class="alert_body">
        <span>Transaction Id: {{ generateTransactionId()}}</span>
        <span>{{ amount.value | currency: 'Rs.': 'code' }}
            has been successfully transferred to {{ getAccountNumber() }}.</span>
        <a
                (click)="resetForm($event)"
                href="#"
        >Start a new transaction
        </a>
    </div>
</div>

<!--Preview section-->
<section *ngIf="isShowPreview" class="bt_section_info">
    <h3>Confirmation</h3>
    <div class="details">
        <span>From Account</span>
        <span>{{ fromAccount.value }}</span>
    </div>
    <div class="details">
        <span>To Account</span>
        <span>{{ getAccountNumber() }}</span>
    </div>
    <div class="details">
        <span>Amount</span>
        <span>{{ amount.value | currency: 'Rs.': 'code'}}</span>
    </div>
    <div class="details">
        <span>Description</span>
        <span>{{ description.value }}</span>
    </div>

    <div class="btn-container">
        <button (click)="goBack()" class="button btn-secondary">Edit</button>
        <button (click)="pay()" class="button btn-primary">Confirm</button>
    </div>
</section>

<!--Payment form-->
<form (ngSubmit)="showPreview()" *ngIf="showForm" [formGroup]="paymentForm">
    <section class="bt_section_info">
        <h3>From Account</h3>
        <div class="details">
            <label for="account">Account number</label>
            <select
                    formControlName="fromAccount"
                    id="account"
                    name="account"
            >
                <option value="7877-8765676">7877-8765676</option>
            </select>
        </div>

        <div class="details">
            <span>Account type</span>
            <span>Savings</span>
        </div>

        <div class="details">
            <span>Balance</span>
            <strong>INR 34,3671.64</strong>
        </div>
    </section>

    <section class="bt_section_info">
        <h3>To Account</h3>

        <div class="details">
            <span>Select Payee</span>
            <div class="radio-container">
                <label class="radio-label"> Payee
                    <input formControlName="payeeType"
                           name="payeeType"
                           type="radio"
                           value="payee">
                    <span class="checker checker-inside"></span>
                </label>
                <label class="radio-label">
                    Pay Anyone
                    <input formControlName="payeeType"
                           name="payeeType"
                           type="radio"
                           value="payAnyone">
                    <span class="checker checker-inside"></span>
                </label>
            </div>
            <span *ngIf="submitted" class="bt_inline_error inline-error">
                <span *ngIf="payeeType.hasError('required')">Payee type is required</span>
            </span>
        </div>

        <div *ngIf="displayAccountDetails('payee')" class="details">
            <label for="payee">Payee</label>
            <select formControlName="payee" id="payee" name="payee">
                <option disabled value="">Select</option>
                <option
                        *ngFor="let payee of payees"
                        [value]="payee.name"
                >{{ payee.name }}</option>
            </select>
            <div *ngIf="submitted" class="bt_inline_error inline-error">
                <span *ngIf="payee.hasError('required')">Payee is required</span>
            </div>

        </div>

        <div *ngIf="displayAccountDetails('payAnyone')">
            <div class="details">
                <label for="accName">Account Name</label>
                <input [class.error-input]="submitted && accountName.invalid" formControlName="accountName" id="accName"
                       type="text">
                <div *ngIf="submitted" class="bt_inline_error inline-error">
                    <span *ngIf="accountName.hasError('required')">
                        Account Name is required
                    </span>
                    <span *ngIf="accountName.hasError('pattern')">
                        Account Name can only contain alphabets and space
                    </span>
                </div>
            </div>
            <div class="details">
                <label for="code">IFSC Code</label>
                <input [class.error-input]="submitted && code.invalid" formControlName="code" id="code"
                       type="text">
                <div *ngIf="submitted" class="bt_inline_error inline-error">
                    <span *ngIf="code.hasError('required')">
                        IFSC code is required
                    </span>
                    <span *ngIf="code.hasError('pattern')">
                        IFSC Code can only contain alphabets or numbers
                    </span>
                </div>
            </div>

            <div class="details">
                <label for="accNumber">Account Number</label>
                <input [class.error-input]="submitted && accountNumber.invalid" formControlName="accountNumber" id="accNumber"
                       type="text">
                <div *ngIf="submitted" class="bt_inline_error inline-error">
                    <span *ngIf="accountNumber.hasError('required')">
                        Account Number is required
                    </span>
                    <span *ngIf="accountNumber.hasError('pattern')">
                        Account number can only contain numbers
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="bt_section_info">
        <h3>Transaction Details</h3>
        <div class="details">
            <label for="amount">Amount (INR)</label>
            <input [class.error-input]="submitted && amount.invalid"
                   formControlName="amount"
                   id="amount"
                   name="amount"
                   type="text">
            <div *ngIf="submitted" class="bt_inline_error inline-error">
                <span *ngIf="amount.hasError('required')">Amount is required</span>
                <span *ngIf="amount.hasError('pattern')">
                    Amount can only contain numbers and " . ". Example: XXX.XXX
                </span>
            </div>
        </div>

        <div class="details">
            <label for="description">Description</label>
            <input [class.error-input]="submitted && description.invalid" formControlName="description" id="description"
                   type="text">
            <div *ngIf="submitted" class="bt_inline_error inline-error">
                <span *ngIf="description.hasError('required')">Description is required</span>
            </div>
        </div>

        <div class="details">
            <label for="reference">Reference
                <span class="bt_optional">(optional)</span>
            </label>
            <input formControlName="reference" id="reference" type="text">
        </div>
    </section>

    <section>
        <div class="btn-container">
            <button (click)="resetForm($event)" class="button btn-secondary">Cancel</button>
            <button class="button btn-primary" type="submit">Pay Now</button>
        </div>
    </section>
</form>
