<div class="main" *ngIf="showMain">
    <h2>Click on the below buttons to view the desktop templates</h2>

    <div class="btn-wrapper">
        <button (click)="showTemplate('ET')">Email template</button>
        <button (click)="showTemplate('BT')">Online banking web application template</button>
    </div>
</div>

<div *ngIf="emailTemplate">
    <app-email-template></app-email-template>
</div>

<div *ngIf="bankingTemplate">
    <app-banking-home></app-banking-home>
</div>

<a class="floating" href="">
    <app-svg-icon [svgIconId]="'home'"></app-svg-icon>
</a>
