<div class="dashboard">
    <div class="first-row">
        <div class="card">
            <app-svg-icon [svgIconId]="'individual'"></app-svg-icon>
            <div class="card-text">
                <h2>Hello Jonathan</h2>
                <p class="sub-title">Welcome back! You have 16 notifications.</p>
                <button class="btn btn-primary btn-regular">Learn more</button>
            </div>
        </div>
        <div class="card">
            <h4>Evaluation progress</h4>
            <div class="card-text">
                Design 14
                <div class="progress-bar">
                    <div class="bar"
                         id="design"></div>
                </div>

                IOS 12
                <div class="progress-bar">
                    <div class="bar"
                         id="ios"></div>
                </div>

                HR 4
                <div class="progress-bar">
                    <div class="bar"
                         id="hr"></div>
                </div>

                DevOps 17
                <div class="progress-bar">
                    <div class="bar"
                         id="devops"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="overview-column">
                <div class="card-horizontal card-one">
                    <div>
                        <p>Accepted job applications</p>
                        <p><span class="count">84</span><span class="total-count">of 336</span></p>
                    </div>
                    <circle-progress [outerStrokeColor]="'#ff7f50'"
                                     [percent]="acceptedApplicationsPercentage"
                                     class="progress"></circle-progress>
                </div>
                <div class="card-horizontal card-two">
                    <div>
                        <p>Rejected job applications</p>
                        <p><span class="count">173</span><span class="total-count">of 336</span></p>
                    </div>
                    <circle-progress [outerStrokeColor]="'#F3CA40'"
                                     [percent]="rejectedApplicationsPercentage"
                                     class="progress"></circle-progress>
                </div>
            </div>
        </div>
    </div>
    <div class="second-row">
        <div class="recruitment-process-table">
            <table>
                <thead>
                <tr class="table-filter">
                    <th colspan="2"><h3>Recruitment progress</h3></th>
                    <th>
                        <button (click)="toggleMenu($event)"
                                class="btn btn-menu"
                                id="menu-status">
                            <span class="menu-option">Select</span>
                            <app-svg-icon [svgIconId]="'dropdown'"></app-svg-icon>
                            <ul class="menu">
                                <li><a href="#">Review</a></li>
                                <li><a href="#">Interview</a></li>
                            </ul>
                        </button>
                    </th>
                    <th>
                        <button (click)="toggleMenu($event)"
                                class="btn btn-menu"
                                id="menu-date">
                            <span class="menu-option">Today</span>
                            <app-svg-icon [svgIconId]="'dropdown'"></app-svg-icon>
                            <ul class="menu">
                                <li><a href="#">Tomorrow</a></li>
                                <li><a href="#">Yesterday</a></li>
                            </ul>
                        </button>
                    </th>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <th>Email Address</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="profile">
                        <div class="profile-pic">
                            <img
                                    alt="Larry Lin"
                                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ">
                        </div>
                        <div>John Doe</div>
                    </td>
                    <td>john.doe@gmail.com</td>
                    <td><span class="dot dot-review"></span>Resume review</td>
                    <td><a href="#">...</a></td>
                </tr>
                <tr>
                    <td class="profile">
                        <div class="profile-pic">
                            <img alt="iida niskanen"
                                 src="https://randomuser.me/api/portraits/women/68.jpg">
                        </div>
                        <div>Isda Niskanen</div>
                    </td>
                    <td>isda.niskanen@gmail.com</td>
                    <td><span class="dot dot-interview"></span>Tech interview</td>
                    <td><a href="#">...</a></td>
                </tr>
                <tr>
                    <td class="profile">
                        <div class="profile-pic">
                            <img alt="noah pierre"
                                 src="https://randomuser.me/api/portraits/men/35.jpg">
                        </div>
                        <div>Noah Pierre</div>
                    </td>
                    <td>noah.pierre@gmail.com</td>
                    <td><span class="dot dot-screening"></span>Screening</td>
                    <td><a href="#">...</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="summary">
            <div class="total-container">
                <div class="total">
                    <span class="count">742</span> <span>Employees</span>
                </div>
                <div class="total">
                    <span class="count">21</span> <span>Time off</span>
                </div>
            </div>
        </div>
    </div>
</div>
