<section class="bt_panel">
    <div class="bt_page_header">
        <h2 class="bt_section_header">Debit Cards</h2>
        You haven't applied for any debit card yet.
    </div>

    <h3 class="bt_section_header">Available Cards</h3>
    <div class="card-wrapper">
        <div class="card">
            <div class="card-content">
                <h4 class="header">FEATURED DEBIT CARDS</h4>
                <ul>
                    <li>Gemstone Debit Cards</li>
                    <li>Personal Debit Cards</li>
                </ul>
                <a href="#">Apply Now >></a>
            </div>
        </div>
    </div>

</section>
