/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.radio-label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  padding-top: 3px;
  cursor: pointer;
}

.radio-label + .radio-label {
  margin-left: 18px;
}

.radio-label input[type=radio] {
  display: none;
}

.radio-label .checker {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid var(--bt-input-border-color);
  transition: all 0.5s ease;
}

.radio-label input:checked ~ .checker-inside {
  background-color: var(--bt-primary-color);
}

.radio-label input:checked ~ .checker:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-label input:checked ~ .checker-inside:after {
  background-color: #FFFFFF;
}

/*Banking template color variables*/
.bt {
  /*Common*/
  /*switch*/
}
.bt_container {
  margin-bottom: 32px;
}
.bt_panel {
  background: white;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.bt_section_header, .bt_section_info {
  margin-bottom: 24px;
}
.bt_radio {
  display: inline-flex;
  background: white;
  width: auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 24px;
}
.bt_radio input {
  display: none;
}
.bt_radio label {
  padding: 1em 4.85em;
  font-size: 18px;
  cursor: pointer;
}
.bt_radio label:not(:last-of-type) {
  border-right: 1px solid var(--bt-border-color);
}
.bt_radio input:checked + label {
  background: var(--bt-primary-color);
  color: white;
}
.bt_section_info h3 {
  padding: 12px;
  background: #7B85C1;
  color: white;
  border-radius: 5px;
  margin-bottom: 24px;
}
.bt_section_info h4 {
  margin-left: 16px;
}
.bt .details {
  display: grid;
  grid-template-columns: 30% 50%;
  padding: 12px 24px;
  align-items: center;
}
.bt select {
  padding: 0.5em 4em 0.5em 0.5em;
  border-color: var(--bt-input-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: #616161;
}
.bt input {
  border: 1px solid var(--bt-input-border-color);
  padding: 6px 12px;
  border-radius: 5px;
  height: 25px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.bt .btn-container {
  display: flex;
  justify-content: space-between;
  margin: 48px 12px;
}
.bt .button {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px 48px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.bt .button:hover {
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.bt .button:active {
  transform: scale(0.95);
}
.bt .btn-primary {
  background: var(--bt-primary-color);
  color: #FFF;
}
.bt .btn-secondary {
  background: var(--bt-input-border-color);
  color: #616161;
}

:root {
  --bt-primary-color: #657AFF;
  --bt-border-color: #E6E6E67D;
  --bt-input-border-color: #D3D3D3;
  --bt-background: #F3F3F3;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 1rem 0.5rem;
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
}

.icon svg {
  height: 24px;
  width: 24px;
  fill: black;
}

.icon.icon-nav svg {
  height: 18px;
  width: 18px;
  fill: white;
  margin-right: 12px;
  margin-top: 5px;
}

.progress svg {
  width: 100px;
  height: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

/**Button**/
.btn {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  margin: 24px auto;
  transition: transform 0.2s ease;
  font-weight: 500;
  display: flex;
}

.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background: #2F2F7E;
}

.btn-regular {
  height: 40px;
}

.btn-small {
  height: 30px;
}

.btn-large {
  height: 50px;
}

.sub-title {
  opacity: 0.5;
}

.progress-bar {
  width: 100%;
  background-color: #DDD;
  border-radius: 5px;
}

.bar {
  width: 1%;
  height: 8px;
  border-radius: 5px;
  margin: 18px 0;
}

#individual {
  width: 100%;
}

.menu-option {
  padding-right: 24px;
}

.btn-menu {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  font-family: sans-serif;
  max-width: 150px;
  color: black;
  margin: 0;
}

.menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  list-style: none;
  margin: 12px 0;
  padding: 0;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.menu a {
  text-decoration: none;
  padding: 12px;
  display: block;
  text-align: left;
  color: black;
  letter-spacing: 0.7px;
}

.menu a:hover {
  background: #e1f0fc;
}

.btn-menu .menu {
  display: none;
}

.btn-menu.open .menu {
  display: block;
}

svg {
  height: 24px;
  width: 24px;
  fill: grey;
  margin-right: 12px;
}

button svg {
  height: 24px;
  width: 24px;
}

.search svg, .side-bar svg {
  height: 12px;
  width: 12px;
  fill: #191919;
  margin-right: 6px;
}

.title-container svg {
  height: 24px;
  width: 24px;
  fill: #6F6194;
}

.sort svg {
  fill: #6F6194;
}

.banking svg {
  height: 18px;
  width: 18px;
  display: grid;
  align-self: center;
}
.banking .notification svg {
  margin-right: 0;
}

.floating {
  position: fixed;
  bottom: 50px;
  right: 0;
  background: #657AFF;
  padding: 6px;
}
.floating svg {
  fill: white;
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D7E1FF #5C5C5C;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #E7E7EF;
}

*::-webkit-scrollbar-thumb {
  background-color: #E7E7EF;
  border-radius: 20px;
  border: 3px solid #D7E1FF;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .first-row {
    flex-direction: column;
  }

  .second-row {
    flex-direction: column;
    margin-right: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
