/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
.df {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-space-btw {
  justify-content: space-between;
}

.jc-right {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-between;
}

.switch {
  position: relative;
  display: block;
  width: 45px;
  height: 20px;
  cursor: pointer;
}

input.switch-input {
  opacity: 0;
  pointer-events: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #A7A7A7;
  border-radius: 20px;
  transition: all 0.5s ease;
}

input.switch-input:checked + .slider {
  background: #7B85C1;
}

input.switch-input:checked + .slider::before {
  left: 25px;
}

.slider::before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 1px;
  left: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-out;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.modal-container.open {
  transform: scale(1);
  transition: all 0.5s ease;
}

.modal-container.open .modal {
  transform: scale(1);
  transition: all 0.5s ease 0.2s;
  top: 10%;
  left: 30%;
}

.modal {
  position: absolute;
  width: 50%;
  background: #FFFFFF;
  border-radius: 3px;
  transform: scale(0);
}
.modal .btn {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 6px 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  margin: 6px;
  transition: transform 0.2s ease;
  font-weight: 500;
}
.modal .btn:active {
  transform: scale(0.9);
}
.modal .btn-primary {
  background: #0C5EA6;
}
.modal .btn-secondary {
  background: lightgrey;
}
.modal .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  padding: 12px;
}
.modal .button-end {
  justify-content: flex-end;
}
.modal .flex-right {
  justify-content: flex-end;
}

.modal svg {
  height: 24px;
  width: 24px;
  fill: black;
}

.modal .modal-header {
  padding: 12px 24px;
  border-bottom: 1px solid #2F4858;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-header h1 {
  padding: 0;
  margin: 0;
  border: 0;
}

.modal .modal-header a {
  cursor: pointer;
}

.modal .modal-body {
  padding: 12px 24px;
}

@media screen and (max-width: 900px) {
  .modal .button-container {
    flex-direction: column-reverse;
  }

  .modal-container.open .modal {
    left: 0;
    margin: 1em;
  }

  .modal {
    width: 90%;
  }
}
.spinner-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.spinner {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner--spin {
  border: dotted 0.35rem;
  border-color: transparent #348AA7 #348AA7;
  animation: spin 1.8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.checkbox-container {
  margin: 24px 12px;
}

.checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  padding-top: 3px;
  cursor: pointer;
}
.checkbox-label input {
  display: none;
}
.checkbox-label .tick {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1.5px solid #B8B8B8;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.checkbox-label input:checked ~ .tick {
  background-color: #279AF1;
}
.checkbox-label input:checked ~ .tick:after {
  content: "";
  height: 8px;
  width: 15px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 2px;
  position: absolute;
  left: 42%;
  top: 35%;
  transform: translate(-40%, -40%) rotate(-45deg);
}

.checkbox-label + .checkbox-label {
  margin-left: 18px;
}

.radio-label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  padding-top: 3px;
  cursor: pointer;
}

.radio-label + .radio-label {
  margin-left: 18px;
}

.radio-label input[type=radio] {
  display: none;
}

.radio-label .checker {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid #D3D3D3;
  transition: all 0.5s ease;
}

.radio-label input:checked ~ .checker-inside {
  background-color: #BE5A38;
}

.radio-label input:checked ~ .checker:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-label input:checked ~ .checker-inside:after {
  background-color: #FFFFFF;
}

/*Banking template color variables*/
.bt {
  /*Common*/
  /********* BANKING CONTENT START********/
  /********* BANKING CONTENT END ********/
  /********* BANKING DASHBOARD START *******/
  /********* BANKING DASHBOARD END *******/
  /********* SWITCH **********/
  /*****NAVIGATION BAR START*****/
  /*****NAVIGATION BAR END*****/
  /*****LOGIN START*****/
  /*****LOGIN END*****/
  /*****TRANSACTION START******/
  /*****TRANSACTION END******/
  /********* CARD START ***********/
  /********* CARD END ***********/
  /******* OVERRIDES START ********/
  /******* OVERRIDES END ********/
}
.bt.banking {
  display: flex;
  background: #EBEBEB;
}
.bt .banking-content-container {
  flex-grow: 1;
}
.bt_container {
  margin-bottom: 32px;
}
.bt_panel {
  background: white;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.bt_section_header {
  padding-bottom: 18px;
  border-bottom: 1px solid #E0E0E0;
}
.bt_section_header, .bt_section_info {
  margin-bottom: 24px;
}
.bt .sub-section {
  padding: 24px;
}
.bt .custom-select label {
  margin-right: 12px;
}
.bt .custom-select select {
  font-size: 1.1em;
  border: 1px solid #D9D3D6;
  border-radius: 5px;
}
.bt table {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  min-width: 100%;
}
.bt table th, .bt table td {
  padding: 1em;
  border-bottom: 1px solid #E0E0E0;
}
.bt .banking-content {
  height: 100%;
  padding: 24px 48px;
}
.bt .banking-content .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 12px;
  margin-bottom: 32px;
}
.bt .banking-content .header div:not(:last-of-type) {
  margin-right: 24px;
}
.bt .banking-content .header a {
  display: inline-block;
  text-decoration: none;
  color: #348AA7;
}
.bt .banking-content .header a:hover {
  color: #62B4D0;
}
.bt .banking-content .search-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  box-shadow: 6px 7px 15px 0 rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}
.bt .banking-content .search-input {
  height: 40px;
  border-radius: 20px 0 0 20px;
  border: none;
  padding: 0 0 0 18px;
  letter-spacing: 0.7px;
  outline: none;
  font-family: "Roboto", sans-serif;
}
.bt .banking-content .search-input::placeholder {
  opacity: 0.5;
  z-index: -1;
}
.bt .banking-content .search-button {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: transform 0.1s ease;
  outline: none;
}
.bt .banking-content .search-button:active {
  transform: scale(0.95);
}
.bt .banking-content .search-button svg {
  width: 18px;
  height: 18px;
}
.bt .banking-content .notification {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  box-shadow: 6px 7px 15px 0 rgba(0, 0, 0, 0.14);
}
.bt .banking-content .profile img {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.bt .dashboard-container h1 {
  font-size: 2.5em;
}
.bt p {
  padding: 12px 0;
}
.bt .summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 24px;
}
.bt .summary div {
  flex: 1;
}
.bt .summary .summary-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.bt .summary .summary-content h2 {
  color: #348AA7;
}
.bt_radio {
  display: inline-flex;
  background: white;
  width: auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 24px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}
.bt_radio input {
  display: none;
}
.bt_radio label {
  padding: 1em 4.5em;
  font-size: 18px;
  cursor: pointer;
}
.bt_radio label:not(:last-of-type) {
  border-right: 1px solid #E0E0E0;
}
.bt_radio input:checked + label {
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: white;
}
.bt .side-nav {
  height: 100vh;
  background: white;
}
.bt .side-nav-mobile, .bt .icon-close {
  display: none;
}
.bt .logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 24px;
}
.bt .logo a {
  text-decoration: none;
  color: #616161;
}
.bt .logo__bg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  margin-right: 12px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  color: #FFF;
}
.bt .menu-bar ul {
  padding: 0;
  margin: 0;
}
.bt .menu-bar a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 24px 48px;
  color: #343434;
  width: 100%;
}
.bt .menu-bar a.active {
  color: #348AA7;
  background: #D6EEF7;
  border-right: 3px solid;
  font-weight: 500;
}
.bt .login-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.bt .login-container .login-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url(https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fG9mZmljZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  height: 100vh;
  flex: 1;
}
.bt .login-container .copy {
  text-align: center;
}
.bt .login-container .banner {
  color: white;
}
.bt .login-container h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}
.bt .login-container .cta {
  font-size: 1.2em;
  margin-top: 12px;
}
.bt .login-container .login-cta {
  margin-bottom: 3em;
}
.bt .login-container .login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  flex: 1;
}
.bt .login-container .form-container {
  margin: 3em 0;
}
.bt .login-container .form-group-vertical {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column;
  margin-bottom: 3em;
}
.bt .login-container label {
  margin-bottom: 6px;
}
.bt .login-container .btn-login {
  width: 100%;
  margin: 0;
}
.bt .bt-mobile {
  display: none;
}
.bt .transaction-history h3 {
  padding: 24px;
  border-bottom: 3px solid #E0E0E0;
}
.bt .transaction-history table th span {
  display: flex;
}
.bt .transaction-history table td span.credit {
  color: green;
}
.bt .transaction-history table td span.debit {
  color: red;
}
.bt .transaction-history table td.amount {
  font-weight: 500;
}
.bt .transaction-history table td span.transaction-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.bt .transaction-history table td button {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px;
  background: #348AA7;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  font-weight: 500;
  display: flex;
  margin: 0;
}
.bt table.transaction-details-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}
.bt table.transaction-details-table tr {
  border-bottom: 1px solid lightgray;
}
.bt table.transaction-details-table tr:nth-child(2n+1) {
  background: #FCFCFC;
}
.bt table.transaction-details-table tr > td:first-child {
  padding: 12px 24px;
}
.bt_section_info h3 {
  padding: 12px;
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: white;
  border-radius: 5px;
  margin-bottom: 24px;
  font-weight: 100;
}
.bt_section_info h4 {
  margin-left: 16px;
}
.bt .details, .bt .form-group {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 12px 24px;
  align-items: center;
}
.bt .grid-vr {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  padding: 12px;
  align-items: center;
}
.bt .info {
  grid-column: 2/3;
  background: #E7EBEF;
  margin: 12px 0;
  padding: 6px 0;
}
.bt select {
  padding: 0.5em 4em 0.5em 0.5em;
  border-color: #D3D3D3;
  border-radius: 5px;
  font-size: 14px;
  color: #616161;
  letter-spacing: 0.75px;
}
.bt input {
  border: 1px solid #D3D3D3;
  padding: 6px 12px;
  border-radius: 5px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.bt input::placeholder {
  opacity: 0.5;
}
.bt .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 48px 0;
}
.bt .button {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px 48px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 12px;
}
.bt .button:hover {
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.bt .button:active {
  transform: scale(0.95);
}
.bt .btn-primary {
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: #FFF;
}
.bt .btn-secondary {
  background: #D3D3D3;
  color: #616161;
}
.bt .flex-right {
  justify-content: flex-end;
}
.bt .bt_page_header {
  margin-bottom: 24px;
}
.bt .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}
.bt .card {
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.bt .card-content .card-header {
  padding-bottom: 0.5em;
  border-bottom: 2px solid white;
  text-align: left;
}
.bt .card-content ul {
  list-style: disc;
  padding-left: 2em;
  margin-bottom: 0.5em;
  min-height: 150px;
}
.bt .card-content li {
  padding: 0.7em 0;
}
.bt .card-content a {
  display: grid;
  justify-content: end;
  color: white;
  text-decoration: none;
  padding: 0.2em;
  transition: text-decoration 0.3s ease-in;
}
.bt .card-content a:hover {
  text-decoration: underline;
}
.bt .bt_details_container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2em;
}
.bt .bt_details_container img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 65%;
  border-radius: 50%;
  align-self: center;
  margin: 24px auto;
}
.bt .bt_details_container .left-panel {
  grid-row: 1/2;
}
.bt .bt_details-content {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}
.bt_inline_error {
  color: #DB3939;
  padding: 12px 0;
}
.bt .error-input {
  border: 2px solid #DB3939;
}
.bt form .inline-error {
  grid-column: 2/3;
}
.bt_banner {
  padding: 12px;
  margin-bottom: 24px;
  color: #FFF;
  border-radius: 5px;
}
.bt_banner a {
  color: white;
}
.bt_error_banner {
  background: #DB3939;
}
.bt_success_banner {
  background: #5ECE5E;
}
.bt .alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.bt .alert_heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 24px;
}
.bt .alert_heading svg {
  fill: white;
}
.bt .alert_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: center;
}
.bt .alert_body span {
  margin-bottom: 12px;
}
.bt_optional {
  opacity: 0.5;
  font-weight: 400;
  font-style: italic;
}
.bt_side_panel .details {
  padding: 12px;
  grid-template-columns: 70% 30%;
}
.bt_side_panel:not(:last-child) {
  margin-bottom: 32px;
}
.bt .radio-label .checker {
  border: 1.5px solid #D3D3D3;
}
.bt .radio-label input:checked ~ .checker-inside {
  background-color: #348AA7;
}
.bt input.switch-input:checked + .slider {
  background: #348AA7;
}

@media (min-width: 320px) and (max-width: 899px) {
  .bt.banking {
    flex-direction: column;
  }
  .bt .login-container {
    flex-direction: column;
  }
  .bt .login-image-container {
    height: 180px;
    padding: 1.5em;
  }
  .bt .login-container .form-container {
    margin: 3em 5em;
  }
  .bt .side-nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bt .side-nav {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }
  .bt .side-nav.slide-open {
    transform: translateX(0);
  }
  .bt .icon-close {
    display: block;
  }
  .bt .logo {
    justify-content: space-between;
  }
  .bt .search-container {
    flex-grow: 1;
  }
  .bt .search-input {
    width: 100%;
  }
  .bt h1, .bt h2 {
    text-align: center;
  }
  .bt .banking-content {
    padding: 12px 18px;
  }
  .bt .banking-content .notification {
    display: none;
  }
  .bt .banking-content .header {
    justify-content: flex-start;
    padding: 0;
  }
  .bt .summary {
    flex-direction: column;
    align-items: flex-start;
  }
  .bt table, .bt thead, .bt tbody, .bt th, .bt td, .bt tr {
    display: block;
  }
  .bt table {
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .bt table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .bt table tr {
    margin: 0 0 1rem 0;
  }
  .bt table tr:nth-child(odd) {
    background: #E0E0E0;
  }
  .bt table td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding: 0.5em;
  }
  .bt table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .bt .transaction-history {
    display: none;
  }
  .bt .bt-mobile {
    display: block;
  }
  .bt .bt_radio {
    width: 100%;
  }
  .bt .bt_radio label {
    width: 100%;
    padding: 1em;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
  }
  .bt .details, .bt .form-group {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    grid-gap: 6px;
    padding: 0.75em;
  }
  .bt .details *:first-child, .bt .form-group *:first-child {
    font-weight: 600;
  }
  .bt .bt_section_info h4 {
    font-size: 18px;
    margin-left: 0;
  }
  .bt .btn-container {
    flex-direction: column-reverse;
  }
  .bt .btn-container button {
    margin: 6px;
  }
  .bt .card-wrapper {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }
  .bt .bt_details_container {
    grid-template-rows: 1fr;
    grid-template-columns: none;
  }
  .bt form .bt_inline_error {
    grid-column: 1;
    padding: 6px 0;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .bt .login-container .form-container {
    margin: 3em 5em;
  }
  .bt .logo {
    justify-content: space-between;
  }
  .bt h1, .bt h2 {
    text-align: left;
  }
  .bt .banking-content .notification {
    display: flex;
  }
  .bt.banking {
    flex-direction: column;
  }
  .bt .side-nav-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  .bt .side-nav {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }
  .bt .side-nav.slide-open {
    transform: translateX(0);
  }
  .bt .icon-close {
    display: block;
  }
  .bt .summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
  }
  .bt .card-wrapper {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }
  .bt .bt_details_container {
    grid-template-rows: 1fr;
    grid-template-columns: none;
  }
}
.e-market-template {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  /****** OVERRIDE *********/
  /******** COMMON *******/
  /********* HEADER ****************/
  /******* LOGIN **********/
  /******* HOME PAGE ********/
  /******* FEATURED PRODUCTS ****/
  /*********** COMMENTS **************/
  /************** BLOG POSTS *******************/
  /********* FOOTER ***********/
  /************** PRODUCT PREVIEW ************/
  /********* SEARCH *********/
  /*************BLOG POST **************/
  /************ BREADCRUMB ***************/
  /*********** PRODUCTS *********************/
  /*********** CART **********/
  /******** CONTACT US ***********/
  /********** CHECKOUT *************/
  /*********** PROFILE ***************/
  /*********** LOGIN ***************/
}
.e-market-template .checkbox-container {
  margin: 2em 0;
}
.e-market-template input:checked ~ .tick {
  background-color: #FC7947;
}
.e-market-template section {
  margin-bottom: 3em;
}
.e-market-template h1 {
  margin-bottom: 48px;
}
.e-market-template h2 {
  margin-bottom: 32px;
}
.e-market-template p {
  line-height: 1.5;
}
.e-market-template input, .e-market-template button, .e-market-template textarea {
  font-family: "Inter", sans-serif;
}
.e-market-template input {
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: 1px solid #B8B8B8;
  height: 40px;
  padding: 0.5em;
}
.e-market-template a {
  text-decoration: none;
  color: #FC7947;
}
.e-market-template .btn-container {
  margin: 1em 0;
}
.e-market-template .btn {
  border: 0;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1.25px;
}
.e-market-template .btn-primary {
  background: linear-gradient(to right, #FC7947, #FFA27E);
}
.e-market-template .btn-action:hover {
  transform: scale(1.25);
}
.e-market-template .btn-icon {
  margin: 1em;
}
.e-market-template .btn-icon:hover {
  transform: scale(1.25);
}
.e-market-template .page-container {
  margin-top: 4em;
}
.e-market-template .page-heading {
  margin-top: 3em;
}
.e-market-template .form-horizontal {
  display: grid;
  gap: 2em;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
.e-market-template .form-horizontal > * {
  width: 100%;
}
.e-market-template .form-horizontal > * > .form-group {
  margin: 0;
}
.e-market-template .form-horizontal + .form-horizontal {
  margin: 2em 0;
}
.e-market-template .form-group {
  margin: 2em 0;
  display: grid;
}
.e-market-template .form-label {
  margin-bottom: 1em;
}
.e-market-template .form-input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #B8B8B8;
  font-family: "Inter", sans-serif;
}
.e-market-template .header {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 0 15em;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
  height: 4em;
}
.e-market-template ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.e-market-template nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.e-market-template nav img {
  max-width: 100%;
  height: 40px;
}
.e-market-template nav a {
  display: inline-block;
  color: #707070;
  text-decoration: none;
}
.e-market-template nav a.active {
  font-weight: 700;
  border-bottom: 4px solid #FC7947;
}
.e-market-template nav .nav-menu a {
  padding: 1.25em 1em;
}
.e-market-template nav .nav-menu a:not(.active):hover {
  background: rgba(0, 0, 0, 0.025);
  border-bottom: 4px solid rgba(0, 0, 0, 0.025);
}
.e-market-template nav .menu-icon a {
  padding: 1.25em 0.5em;
  position: relative;
}
.e-market-template nav .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FC7947;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 0.2em;
  position: absolute;
  right: 10%;
  top: 10%;
}
.e-market-template nav .menu-items {
  display: none;
  position: absolute;
  top: 100%;
  width: max-content;
}
.e-market-template nav .menu-items a {
  display: inline-block;
  padding: 1em;
  width: 100%;
  background: #5B5B5B;
  color: white;
}
.e-market-template nav .menu-items a:hover {
  background: linear-gradient(to right, #FC7947, #FFA27E);
  color: white;
  font-weight: bold;
}
.e-market-template nav a:hover > .menu-items {
  display: block;
}
.e-market-template nav .hamburger {
  display: none;
}
.e-market-template .login-page {
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=931&q=80) no-repeat center center fixed;
  background-size: cover;
  margin-top: 4em;
  padding-bottom: 4em;
}
.e-market-template .tab-group {
  padding: 2em 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 30%;
}
.e-market-template .tab-group ul {
  grid-column: 2/3;
  place-content: center;
  display: flex;
  gap: 3em;
}
.e-market-template .tab-group a {
  display: inline-block;
  padding: 1em;
  color: #707070;
}
.e-market-template .tab-group a.active {
  color: #FC7947;
  border-bottom: 3px solid;
}
.e-market-template .tab-content-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 30%;
  gap: 0 4em;
}
.e-market-template .tab-content-container > * {
  grid-column: 2/3;
}
.e-market-template .tab-content-container .tab-content {
  height: 74vh;
}
.e-market-template .tab-content-container button {
  width: 100%;
  justify-content: center;
}
.e-market-template .hero {
  height: 600px;
  width: 100%;
  background: url("~assets/img/e-market/hero.jpg") no-repeat bottom;
  background-size: cover;
  position: relative;
}
.e-market-template .hero h1 {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 3rem;
  max-width: 500px;
  line-height: 1.5;
}
.e-market-template .hero__button {
  position: absolute;
  top: 60%;
  left: 10%;
}
.e-market-template .container {
  margin: 3em 15em;
}
.e-market-template .card {
  width: 50%;
  height: 250px;
  border-radius: 5px;
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.e-market-template .card:not(:last-child) {
  margin-right: 3em;
}
.e-market-template .card__banner {
  position: absolute;
  background: #FC7947;
  padding: 0.25em 0.5em;
  transform: rotate(45deg);
  right: -40px;
  top: 6%;
  width: 130px;
  text-align: center;
  color: #FFFFFF;
  clip-path: polygon(16px 79.27%, 26.5% 3px, 70.31% 19.91%, 86.5% 97.09%);
}
.e-market-template .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 22em;
}
.e-market-template .card .card-button {
  margin-top: 3.5em;
}
.e-market-template .card-vegetable-sale {
  background: url("~assets/img/e-market/cms-banner-1.jpg") no-repeat top;
  background-size: cover;
}
.e-market-template .card-fruit-sale {
  background: url("~assets/img/e-market/cms-banner-2.jpg") no-repeat top;
  background-size: cover;
}
.e-market-template .info {
  padding: 1em 2em;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
}
.e-market-template .info > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.e-market-template .info__text {
  margin-left: 1em;
}
.e-market-template .info__text p {
  font-weight: bold;
}
.e-market-template .product-card-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.e-market-template .product-card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}
.e-market-template .product-card:hover:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}
.e-market-template .product-card:hover .action {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.e-market-template .product-card .action {
  display: none;
}
.e-market-template .product-card .action svg {
  fill: white;
  margin-right: 0;
}
.e-market-template .product-card img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  min-height: 500px;
  padding: 2em 2em 5em 2em;
}
.e-market-template .product-card .product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #F5F5F5;
  padding: 2em 0;
  border-radius: 0 0 10px 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.e-market-template .product-card .product-info span {
  display: inline-block;
  margin-bottom: 1em;
  font-weight: bold;
}
.e-market-template .product-card .product-info h3 {
  margin-bottom: 1em;
}
.e-market-template .comments {
  text-align: center;
  background: #F5F5F5;
  padding: 2em 15em;
}
.e-market-template .user-comments-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.e-market-template .user-comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 1em;
}
.e-market-template .user-comment p {
  text-align: left;
}
.e-market-template .user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  margin: 0;
}
.e-market-template .user-details img {
  border-radius: 50%;
  margin-bottom: 1em;
}
.e-market-template .post-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.e-market-template .card-column {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.e-market-template .card-column:hover {
  transform: scale(1.05);
}
.e-market-template .card-column img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.e-market-template .card-column .post-content {
  padding: 0.75em 2em 2em;
  display: grid;
  grid-template-rows: 5% auto auto 20%;
  min-height: 200px;
  gap: 1em;
}
.e-market-template .card-column .post-content .publisher {
  display: inline-block;
  font-size: 0.8rem;
  opacity: 0.75;
}
.e-market-template .card-column .post-content a {
  text-decoration: none;
  color: #FC7947;
}
.e-market-template footer {
  background: #444444;
  color: white;
  text-align: center;
  padding: 2em 10em;
}
.e-market-template footer h2, .e-market-template footer h3 {
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1.5px;
}
.e-market-template footer .subscribe {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 1.25em;
}
.e-market-template footer .subscribe input {
  width: 400px;
  border-radius: 3px;
  border: 0;
  padding: 0 1em;
  margin-right: 1em;
  letter-spacing: 0.5px;
}
.e-market-template footer .subscribe input::placeholder {
  opacity: 0.5;
}
.e-market-template footer .footer-links-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  margin: 3em 7em;
}
.e-market-template footer .footer-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.e-market-template footer .footer-links a {
  text-decoration: none;
  color: white;
}
.e-market-template footer .footer-links a:hover {
  color: #FC7947;
}
.e-market-template footer .social h3 {
  margin-bottom: 1em;
}
.e-market-template .product-details-container {
  display: flex;
  padding: 3em;
}
.e-market-template .product-details-container .product-image-wrapper {
  width: 50%;
}
.e-market-template .product-details-container img {
  max-width: 100%;
  object-fit: cover;
  flex: 1;
}
.e-market-template .product-quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
.e-market-template .product-details-wrapper {
  margin-left: 3em;
  flex: 1;
}
.e-market-template .product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1.25em;
}
.e-market-template .product-details-buttons {
  margin-top: 3em;
}
.e-market-template .available {
  color: forestgreen;
  font-weight: bold;
}
.e-market-template .not-available {
  color: indianred;
  font-weight: bold;
}
.e-market-template .product-fact p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 2em;
}
.e-market-template .quantity-wrapper {
  justify-content: start;
}
.e-market-template .quantity-wrapper a {
  display: inline-block;
  padding: 0.5em;
  background: #FC7947;
}
.e-market-template .quantity-wrapper a:first-child {
  border-radius: 5px 0 0 5px;
}
.e-market-template .quantity-wrapper a:last-child {
  border-radius: 0 5px 5px 0;
}
.e-market-template .quantity-wrapper svg {
  fill: white;
  margin: 0;
}
.e-market-template .quantity-wrapper input {
  border-right: 0;
  border-left: 0;
  border-top: 1px solid #FC7947;
  border-bottom: 1px solid #FC7947;
  border-radius: 0;
  text-align: center;
}
.e-market-template .search-container {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  padding: 2em;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}
.e-market-template .search-container.open {
  transform: translateY(0);
}
.e-market-template .search-container .search-wrapper {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.e-market-template .search-container .search-input-wrapper {
  width: 100%;
  position: relative;
}
.e-market-template .search-container input {
  height: 50px;
  width: 95%;
  border: 0;
  border-radius: 5px;
  padding: 1em 0.5em;
}
.e-market-template .search-container .icon-search {
  background: #FC7947;
  padding: 1em;
  display: inline-flex;
  position: absolute;
  right: 35px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}
.e-market-template .search-container .icon-search svg {
  margin: 0;
}
.e-market-template .search-container svg {
  fill: #FFFFFF;
}
.e-market-template .blog__post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2em;
}
.e-market-template .blog__post__image {
  min-width: 40%;
}
.e-market-template .blog__post__image img {
  max-width: 100%;
  object-fit: cover;
}
.e-market-template .blog__post p {
  margin-bottom: 1.25em;
}
.e-market-template .blog__post .small-text {
  font-size: 0.75rem;
}
.e-market-template .blog__post .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.e-market-template .blog__post .post {
  margin-top: 3em;
  line-height: 1.5;
}
.e-market-template .breadcrumb {
  margin-bottom: 2em;
  font-size: 0.8rem;
}
.e-market-template .breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.e-market-template .breadcrumb li {
  padding: 0.5em;
}
.e-market-template .breadcrumb li:not(:last-child):after {
  content: ">";
  padding-left: 1em;
}
.e-market-template .breadcrumb a {
  text-decoration: none;
  color: #FC7947;
  font-weight: bold;
}
.e-market-template .products {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2em;
}
.e-market-template .products .product-image {
  padding-bottom: 1.5em;
  height: 450px;
}
.e-market-template .products .product-image img {
  padding: 0 3em 15em;
}
.e-market-template .products .product-card:hover::before {
  display: none;
}
.e-market-template .quantity-container {
  display: flex;
  gap: 1em;
}
.e-market-template .quantity-container .quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.e-market-template .quantity-container input {
  width: 50px;
  height: 44px;
}
.e-market-template .quantity-container button {
  padding: 0.5em 1em;
}
.e-market-template .quantity-container button svg {
  fill: white;
  height: 18px;
  width: 18px;
  margin-top: 6px;
  margin-right: 0;
}
.e-market-template .cart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 4em;
}
.e-market-template .cart-container table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  flex-basis: 70%;
}
.e-market-template .cart-container table th {
  text-align: left;
  border-bottom: 1px solid #B8B8B8;
  padding: 0.5em;
}
.e-market-template .cart-container table th:first-child {
  width: 50%;
}
.e-market-template .cart-container table th:last-child {
  text-align: right;
}
.e-market-template .cart-container table tr:nth-child(even) {
  background: #FCFCFC;
}
.e-market-template .cart-container table td {
  padding: 0.5em;
  height: 100px;
}
.e-market-template .cart-container table td:first-child {
  display: inline-flex;
  align-items: center;
}
.e-market-template .cart-container table td:last-child {
  text-align: right;
}
.e-market-template .cart-container table td .image-wrapper {
  width: 20%;
  margin-right: 2em;
}
.e-market-template .cart-container table td img {
  width: 100%;
}
.e-market-template .cart-container .order-summary {
  flex-basis: 30%;
  padding: 1em 0.75em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.e-market-template .cart-container .order-summary h2 {
  text-align: center;
}
.e-market-template .cart-container .order-summary table td {
  height: 50px;
}
.e-market-template .cart-container .order-summary button {
  width: 100%;
  justify-content: center;
  margin-top: 2em;
}
.e-market-template .cart-empty {
  text-align: center;
}
.e-market-template .cart-empty button {
  margin: auto;
}
.e-market-template .cart-empty p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2em;
}
.e-market-template .contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 10em;
}
.e-market-template .contact-wrapper .address, .e-market-template .contact-wrapper .contact-form {
  flex-basis: 100%;
}
.e-market-template .contact-wrapper input.form-input {
  height: 40px;
}
.e-market-template .checkout-container {
  display: grid;
  grid-auto-flow: column;
  gap: 5em;
}
.e-market-template .order-summary {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2em;
  height: max-content;
}
.e-market-template .order-summary-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #B8B8B8;
}
.e-market-template .product-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 4em;
}
.e-market-template .product-summary li {
  padding: 0.75em 0;
  width: 100%;
}
.e-market-template .product-summary li:last-child {
  text-align: right;
}
.e-market-template .product-total {
  padding: 0.5em 0;
  font-size: 1.25rem;
  border-top: 1px solid #B8B8B8;
}
.e-market-template .information {
  width: max-content;
}
.e-market-template .information ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
}
.e-market-template .orders-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.e-market-template .orders {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2em;
}
.e-market-template .orders h2 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #B8B8B8;
}
.e-market-template .tab-container {
  display: flex;
  gap: 2em;
}
.e-market-template .tab-container span {
  color: #707070;
  padding: 1em;
  display: inline-block;
}
.e-market-template .tab-container span.active {
  font-weight: bold;
  border-bottom: 3px solid #FC7947;
}

@media (min-width: 1500px) and (max-width: 1900px) {
  .e-market-template .header {
    padding: 0 5em;
  }
  .e-market-template .container {
    margin: 3em 5em;
  }
  .e-market-template .comments {
    padding: 2em 5em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .e-market-template .header {
    padding: 0 5em;
  }
  .e-market-template .container {
    margin: 3em;
  }
  .e-market-template nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  .e-market-template nav .hamburger {
    display: block;
    margin-left: 1em;
  }
  .e-market-template .nav-menu {
    flex-direction: column;
    position: fixed;
    left: 100%;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    background: #FFF3EA;
    top: 6%;
    align-items: center;
  }
  .e-market-template .nav-menu.open-menu {
    left: 0;
  }
  .e-market-template .comments {
    padding: 2em 5em;
  }
  .e-market-template .user-comments-wrapper, .e-market-template .post-wrapper {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
  .e-market-template .card-column {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 35% auto;
  }
  .e-market-template .card-column img {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  .e-market-template .product-card img {
    min-height: 300px;
    padding: 2em 2em 5em 2em;
    object-position: top;
  }
  .e-market-template .sale .card {
    width: 100%;
  }
  .e-market-template .sale > div {
    flex-direction: column;
    gap: 2em;
  }
  .e-market-template footer {
    padding: 2em 5em;
  }
  .e-market-template footer .footer-links-wrapper {
    margin: 3em 0;
  }
  .e-market-template .products {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  .e-market-template .products .product-image {
    height: auto;
  }
  .e-market-template .products .product-image img {
    padding: 2em 2em 10em 2em;
    object-position: center;
  }
  .e-market-template .contact-wrapper {
    gap: 5em;
  }
  .e-market-template .cart-container {
    flex-direction: column;
  }
  .e-market-template .checkout-container {
    grid-auto-flow: row;
  }
  .e-market-template .order-summary {
    grid-row: 1;
  }
  .e-market-template .tab-content-container {
    grid-template-columns: 50% auto;
    gap: 0;
    padding: 0 4em;
  }
  .e-market-template .search-container .icon-search {
    right: 13px;
  }
}
@media (max-width: 767px) {
  .e-market-template .header {
    padding: 0 1em;
  }
  .e-market-template .container {
    margin: 3em;
  }
  .e-market-template nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  .e-market-template nav .hamburger {
    display: block;
    margin-left: 1em;
  }
  .e-market-template .nav-menu {
    flex-direction: column;
    position: fixed;
    left: 100%;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    background: #FFF3EA;
    top: 10%;
    align-items: center;
  }
  .e-market-template .nav-menu.open-menu {
    left: 0;
  }
  .e-market-template .hero {
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("~assets/img/e-market/hero.jpg") no-repeat bottom;
  }
  .e-market-template .hero h1 {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 2rem;
    max-width: 500px;
    line-height: 1.2;
    color: white;
  }
  .e-market-template .sale .card {
    width: 100%;
    color: white;
  }
  .e-market-template .sale > div {
    flex-direction: column;
    gap: 2em;
  }
  .e-market-template .card-vegetable-sale {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("~assets/img/e-market/cms-banner-1.jpg") no-repeat top;
  }
  .e-market-template .card-fruit-sale {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("~assets/img/e-market/cms-banner-2.jpg") no-repeat top;
  }
  .e-market-template .card__content {
    margin-left: 0;
  }
  .e-market-template .product-card-wrapper {
    grid-template-columns: 1fr;
  }
  .e-market-template .products {
    grid-template-columns: 1fr;
  }
  .e-market-template .product-card img {
    min-height: 350px;
    object-position: top;
  }
  .e-market-template .info {
    flex-direction: column;
    gap: 1em;
  }
  .e-market-template .comments {
    padding: 3em;
  }
  .e-market-template .user-comments-wrapper {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
  }
  .e-market-template .user-details {
    margin: 0;
  }
  .e-market-template .user-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .e-market-template footer {
    padding: 2em;
  }
  .e-market-template footer .footer-links-wrapper {
    margin: 2em;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .e-market-template footer .subscribe {
    flex-direction: column;
    gap: 1em;
  }
  .e-market-template footer .subscribe input {
    width: 100%;
  }
  .e-market-template .products {
    display: grid;
    grid-auto-flow: row;
  }
  .e-market-template .products .product-image img {
    padding: 2em 2em 5em 2em;
  }
  .e-market-template .cart-container {
    flex-direction: column;
  }
  .e-market-template .cart-container table th:first-child {
    width: auto;
  }
  .e-market-template .cart-container table th:nth-child(2) {
    width: 35%;
  }
  .e-market-template .cart-container table td .image-wrapper {
    display: none;
  }
  .e-market-template .checkout-container, .e-market-template .form-horizontal, .e-market-template .post-wrapper {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .e-market-template .accordion-content .btn {
    width: 100%;
  }
  .e-market-template .product-summary {
    gap: 0;
  }
  .e-market-template .contact-wrapper {
    flex-direction: column;
    gap: 3em;
  }
  .e-market-template .contact-wrapper .contact-form textarea, .e-market-template .contact-wrapper .contact-form button {
    width: 100%;
  }
  .e-market-template .search-container .search-wrapper {
    width: 100%;
  }
  .e-market-template .search-container .icon-search {
    right: 13px;
  }
  .e-market-template .tab-content-container, .e-market-template .tab-group, .e-market-template .orders-wrapper {
    grid-template-columns: 1fr;
  }
  .e-market-template .tab-group ul {
    grid-column: 1/3;
  }
  .e-market-template .tab-content {
    margin-right: 2em;
  }
  .e-market-template .blog__post {
    flex-direction: column;
  }
  .e-market-template .product-details-container {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #616161;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 1rem 0.5rem;
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
}

.icon svg {
  height: 24px;
  width: 24px;
  fill: black;
}

.icon.icon-nav svg {
  height: 18px;
  width: 18px;
  fill: white;
  margin-right: 12px;
  margin-top: 5px;
}

.progress svg {
  width: 100px;
  height: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

/**Button**/
.btn {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  margin: 24px auto;
  transition: transform 0.2s ease;
  font-weight: 500;
}

.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background: #2F2F7E;
}

.btn-regular {
  height: 40px;
}

.btn-small {
  height: 30px;
}

.btn-large {
  height: 50px;
}

.sub-title {
  opacity: 0.5;
}

.progress-bar {
  width: 100%;
  background-color: #DDD;
  border-radius: 5px;
}

.bar {
  width: 1%;
  height: 8px;
  border-radius: 5px;
  margin: 18px 0;
}

#individual {
  width: 100%;
}

.menu-option {
  padding-right: 24px;
}

.btn-menu {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  font-family: sans-serif;
  max-width: 150px;
  color: black;
  margin: 0;
}

.menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  list-style: none;
  margin: 12px 0;
  padding: 0;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.menu a {
  text-decoration: none;
  padding: 12px;
  display: block;
  text-align: left;
  color: black;
  letter-spacing: 0.7px;
}

.menu a:hover {
  background: #e1f0fc;
}

.btn-menu .menu {
  display: none;
}

.btn-menu.open .menu {
  display: block;
}

svg {
  height: 24px;
  width: 24px;
  fill: grey;
  margin-right: 12px;
}

button svg {
  height: 24px;
  width: 24px;
}

.search svg,
.side-bar svg {
  height: 12px;
  width: 12px;
  fill: #191919;
  margin-right: 6px;
}

.title-container svg {
  height: 24px;
  width: 24px;
  fill: #6F6194;
}

.sort svg {
  fill: #6F6194;
}

.banking svg {
  height: 18px;
  width: 18px;
  display: grid;
  align-self: center;
}
.banking .notification svg {
  margin-right: 0;
  margin-top: 0.65rem;
}

.floating {
  position: fixed;
  bottom: 50px;
  right: 0;
  background: #657AFF;
  padding: 6px;
}
.floating svg {
  fill: white;
  margin: 0;
}

.alert svg {
  width: 18px;
  height: 18px;
  fill: white;
}

/***** Form Error ******/
.inline_error {
  color: #DB3939;
  padding: 12px 0;
}

@media (max-width: 768px) {
  .first-row {
    flex-direction: column;
  }

  .second-row {
    flex-direction: column;
    margin-right: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
