/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
.radio-label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  padding-top: 3px;
  cursor: pointer;
}

.radio-label + .radio-label {
  margin-left: 18px;
}

.radio-label input[type=radio] {
  display: none;
}

.radio-label .checker {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid #D3D3D3;
  transition: all 0.5s ease;
}

.radio-label input:checked ~ .checker-inside {
  background-color: #BE5A38;
}

.radio-label input:checked ~ .checker:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-label input:checked ~ .checker-inside:after {
  background-color: #FFFFFF;
}

/*Banking template color variables*/
.bt {
  /*Common*/
  /********* BANKING CONTENT START********/
  /********* BANKING CONTENT END ********/
  /********* BANKING DASHBOARD START *******/
  /********* BANKING DASHBOARD END *******/
  /********* SWITCH **********/
  /*****NAVIGATION BAR START*****/
  /*****NAVIGATION BAR END*****/
  /*****TRANSACTION START******/
  /*****TRANSACTION END******/
  /********* CARD START ***********/
  /********* CARD END ***********/
  /******* OVERRIDES START ********/
  /******* OVERRIDES END ********/
}
.bt.banking {
  display: flex;
  color: #616161;
}
.bt .banking-content-container {
  flex-grow: 1;
}
.bt_container {
  margin-bottom: 32px;
}
.bt_panel {
  background: white;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.bt_section_header {
  padding-bottom: 18px;
  border-bottom: 1px solid #E0E0E0;
}
.bt_section_header, .bt_section_info {
  margin-bottom: 24px;
}
.bt .banking-content {
  height: 100%;
  background: #EBEBEB;
  padding: 24px 48px;
}
.bt .banking-content .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  margin-bottom: 32px;
}
.bt .banking-content .search-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  box-shadow: 6px 7px 15px 0 rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}
.bt .banking-content .search-input {
  height: 40px;
  border-radius: 20px 0 0 20px;
  border: none;
  padding: 0 0 0 18px;
  letter-spacing: 0.7px;
  outline: none;
  font-family: "Roboto", sans-serif;
}
.bt .banking-content .search-input::placeholder {
  opacity: 0.5;
}
.bt .banking-content .search-button {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: transform 0.1s ease;
  outline: none;
}
.bt .banking-content .search-button:active {
  transform: scale(0.95);
}
.bt .banking-content .search-button svg {
  width: 18px;
  height: 18px;
}
.bt .banking-content .notification {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  box-shadow: 6px 7px 15px 0 rgba(0, 0, 0, 0.14);
}
.bt .banking-content .profile img {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.bt .dashboard-container h1 {
  font-size: 2.5em;
}
.bt p {
  padding: 12px 0;
}
.bt .summary {
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}
.bt .summary div {
  flex: 1;
}
.bt .summary .summary-content {
  display: flex;
  align-items: center;
}
.bt .summary .summary-content h2 {
  color: #348AA7;
}
.bt_radio {
  display: inline-flex;
  background: white;
  width: auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 24px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}
.bt_radio input {
  display: none;
}
.bt_radio label {
  padding: 1em 4.5em;
  font-size: 18px;
  cursor: pointer;
}
.bt_radio label:not(:last-of-type) {
  border-right: 1px solid #E0E0E0;
}
.bt_radio input:checked + label {
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: white;
}
.bt .side-nav {
  height: 100vh;
}
.bt .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 32px;
}
.bt .logo__bg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  margin-right: 12px;
  position: relative;
}
.bt .logo__bg span {
  color: white;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bt .menu-bar ul {
  padding: 0;
  margin: 0;
}
.bt .menu-bar a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 24px 32px;
  color: #343434;
  width: 100%;
}
.bt .menu-bar a.active {
  color: #348AA7;
  background: #D6EEF7;
  border-right: 3px solid;
  font-weight: 500;
}
.bt .transaction-history h3 {
  padding: 24px;
  border-bottom: 3px solid #E0E0E0;
}
.bt .transaction-history table {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  min-width: 100%;
}
.bt .transaction-history table th, .bt .transaction-history table td {
  padding: 1em;
  border-bottom: 1px solid #E0E0E0;
}
.bt .transaction-history table th span {
  display: flex;
}
.bt .transaction-history table td span.credit {
  color: green;
}
.bt .transaction-history table td span.debit {
  color: red;
}
.bt .transaction-history table td.amount {
  font-weight: 500;
}
.bt .transaction-history table td span.transaction-type {
  display: flex;
  align-items: center;
}
.bt .transaction-history table td button {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px;
  background: #348AA7;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  font-weight: 500;
  display: flex;
  margin: 0;
}
.bt table.transaction-details-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}
.bt table.transaction-details-table tr {
  border-bottom: 1px solid lightgray;
}
.bt table.transaction-details-table tr:nth-child(2n+1) {
  background: #FCFCFC;
}
.bt table.transaction-details-table tr > td:first-child {
  padding: 12px 24px;
}
.bt_section_info h3 {
  padding: 12px;
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: white;
  border-radius: 5px;
  margin-bottom: 24px;
  font-weight: 100;
}
.bt_section_info h4 {
  margin-left: 16px;
}
.bt .details {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 12px 24px;
  align-items: center;
}
.bt .grid-vr {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  padding: 12px;
  align-items: center;
}
.bt select {
  padding: 0.5em 4em 0.5em 0.5em;
  border-color: #D3D3D3;
  border-radius: 5px;
  font-size: 14px;
  color: #616161;
}
.bt input {
  border: 1px solid #D3D3D3;
  padding: 6px 12px;
  border-radius: 5px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.bt .btn-container {
  display: flex;
  justify-content: space-between;
  margin: 48px 12px;
}
.bt .button {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px 48px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.bt .button:hover {
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.bt .button:active {
  transform: scale(0.95);
}
.bt .btn-primary {
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: #FFF;
}
.bt .btn-secondary {
  background: #D3D3D3;
  color: #616161;
}
.bt .bt_page_header {
  margin-bottom: 24px;
}
.bt .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}
.bt .card {
  background: linear-gradient(45deg, #348AA7, #62B4D0);
  color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.bt .card-content .card-header {
  padding-bottom: 0.5em;
  border-bottom: 2px solid white;
  text-align: left;
}
.bt .card-content ul {
  list-style: disc;
  padding-left: 2em;
  margin-bottom: 0.5em;
  min-height: 150px;
}
.bt .card-content li {
  padding: 0.7em 0;
}
.bt .card-content a {
  display: grid;
  justify-content: end;
  color: white;
  text-decoration: none;
  padding: 0.2em;
  transition: text-decoration 0.3s ease-in;
}
.bt .card-content a:hover {
  text-decoration: underline;
}
.bt .bt_details_container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2em;
}
.bt .bt_details_container img {
  width: 65%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 24px auto;
}
.bt .bt_details_container .left-panel {
  grid-row: 1/2;
}
.bt .bt_details-content {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}
.bt_inline_error {
  color: #F88E94;
  padding: 12px 0;
}
.bt form .bt_inline_error {
  grid-column: 2/3;
}
.bt_banner {
  padding: 12px;
  margin-bottom: 12px;
  color: #FFF;
  border-radius: 5px;
}
.bt_banner a {
  color: white;
}
.bt_error_banner {
  background: #F88E94;
}
.bt_success_banner {
  background: #5ECE5E;
}
.bt p {
  padding-bottom: 12px;
}
.bt .alert {
  display: flex;
  align-items: center;
}
.bt .alert svg {
  fill: white;
}
.bt .alert_heading {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}
.bt .alert_heading svg {
  fill: white;
}
.bt .alert_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bt .alert_body span {
  margin-bottom: 12px;
}
.bt_optional {
  opacity: 0.5;
  font-weight: 400;
  font-style: italic;
}
.bt_side_panel .details {
  padding: 12px;
  grid-template-columns: 70% 30%;
}
.bt_side_panel:not(:last-child) {
  margin-bottom: 32px;
}
.bt .radio-label .checker {
  border: 1.5px solid #D3D3D3;
}
.bt .radio-label input:checked ~ .checker-inside {
  background-color: #348AA7;
}
.bt input.switch-input:checked + .slider {
  background: #348AA7;
}

.switch {
  position: relative;
  display: block;
  width: 45px;
  height: 20px;
  cursor: pointer;
}

input.switch-input {
  opacity: 0;
  pointer-events: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #A7A7A7;
  border-radius: 20px;
  transition: all 0.5s ease;
}

input.switch-input:checked + .slider {
  background: #7B85C1;
}

input.switch-input:checked + .slider::before {
  left: 22px;
}

.slider::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: -3px;
  left: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-out;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 1rem 0.5rem;
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
}

.icon svg {
  height: 24px;
  width: 24px;
  fill: black;
}

.icon.icon-nav svg {
  height: 18px;
  width: 18px;
  fill: white;
  margin-right: 12px;
  margin-top: 5px;
}

.progress svg {
  width: 100px;
  height: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

/**Button**/
.btn {
  border: none;
  border-radius: 3px;
  outline: none;
  width: auto;
  padding: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  margin: 24px auto;
  transition: transform 0.2s ease;
  font-weight: 500;
  display: flex;
}

.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background: #2F2F7E;
}

.btn-regular {
  height: 40px;
}

.btn-small {
  height: 30px;
}

.btn-large {
  height: 50px;
}

.sub-title {
  opacity: 0.5;
}

.progress-bar {
  width: 100%;
  background-color: #DDD;
  border-radius: 5px;
}

.bar {
  width: 1%;
  height: 8px;
  border-radius: 5px;
  margin: 18px 0;
}

#individual {
  width: 100%;
}

.menu-option {
  padding-right: 24px;
}

.btn-menu {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  font-family: sans-serif;
  max-width: 150px;
  color: black;
  margin: 0;
}

.menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  list-style: none;
  margin: 12px 0;
  padding: 0;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.menu a {
  text-decoration: none;
  padding: 12px;
  display: block;
  text-align: left;
  color: black;
  letter-spacing: 0.7px;
}

.menu a:hover {
  background: #e1f0fc;
}

.btn-menu .menu {
  display: none;
}

.btn-menu.open .menu {
  display: block;
}

svg {
  height: 24px;
  width: 24px;
  fill: grey;
  margin-right: 12px;
}

button svg {
  height: 24px;
  width: 24px;
}

.search svg,
.side-bar svg {
  height: 12px;
  width: 12px;
  fill: #191919;
  margin-right: 6px;
}

.title-container svg {
  height: 24px;
  width: 24px;
  fill: #6F6194;
}

.sort svg {
  fill: #6F6194;
}

.banking svg {
  height: 18px;
  width: 18px;
  display: grid;
  align-self: center;
}
.banking .notification svg {
  margin-right: 0;
}

.floating {
  position: fixed;
  bottom: 50px;
  right: 0;
  background: #657AFF;
  padding: 6px;
}
.floating svg {
  fill: white;
  margin: 0;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .first-row {
    flex-direction: column;
  }

  .second-row {
    flex-direction: column;
    margin-right: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
