<div class="side-nav">
    <div class="logo">
        <div class="logo__bg"><span>ABC</span></div>
        Online Banking
    </div>
    <div class="menu-bar">
        <ul>
            <li><a routerLinkActive="active"
                   routerLink="dashboard">
                <app-svg-icon [svgIconId]="'dashboard'"></app-svg-icon>
                Dashboard</a></li>
            <li><a href="#" routerLinkActive="active">
                <app-svg-icon [svgIconId]="'layers'"></app-svg-icon>
                Accounts</a></li>
            <li><a href="#">
                <app-svg-icon [svgIconId]="'shuffle'"></app-svg-icon>
                Fund Transfer</a></li>
            <li><a href="#">
                <app-svg-icon [svgIconId]="'credit-card'"></app-svg-icon>
                Bill payment</a></li>
            <li><a href="#">
                <app-svg-icon [svgIconId]="'time-past'"></app-svg-icon>
                History</a></li>
        </ul>
    </div>

</div>
